.hud--main {
    position: fixed;
    bottom: 5vh;
}

.hud-timer__inner {
    display: none;
}

.navbar-x {
    padding-top: 12px;
}

@media only screen and (max-width:415px) {
    .hud--main {
        display: none;
    }

    .navbar-x {
        padding-top: 0px;
    }
}

@import url("https://fonts.googleapis.com/css?family=Roboto");

body{
    overflow: hidden
}
*,
*::before,
*::after {
    box-sizing: border-box;
}


.robo-man-container {
    width: 300px;
    height: 250px;
    margin: auto;
    position: relative;
    background: #ddd;
}

.cog {
    width: 100px;
    height: 100px;
    background: grey;
    border-radius: 50%;
    list-style: none;
    position: absolute;
}

.cog li {
    width: 160px;
    height: 30px;
    background: grey;
    position: absolute;
    border-radius: 10px;
    top: 35px;
    left: -30px;
}

.cog li:nth-child(2) {
    -webkit-transform: rotate(58deg);
    transform: rotate(58deg);
}

.cog li:nth-child(3) {
    -webkit-transform: rotate(-58deg);
    transform: rotate(-58deg);
}

.cog-1 {
    left: 30px;
    top: 15px;
    -webkit-animation: rotate-cog 5s infinite linear;
    animation: rotate-cog 5s infinite linear;
}

@-webkit-keyframes rotate-cog {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-cog {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.cog-2 {
    left: 170px;
    top: 15px;
    -webkit-animation: rotate-cog-cc 5s infinite linear;
    animation: rotate-cog-cc 5s infinite linear;
}

@-webkit-keyframes rotate-cog-cc {
    0% {
        -webkit-transform: rotate(24deg);
        transform: rotate(24deg);
    }

    100% {
        -webkit-transform: rotate(-336deg);
        transform: rotate(-336deg);
    }
}

@keyframes rotate-cog-cc {
    0% {
        -webkit-transform: rotate(24deg);
        transform: rotate(24deg);
    }

    100% {
        -webkit-transform: rotate(-336deg);
        transform: rotate(-336deg);
    }
}

.left-eye,
.right-eye {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 40px;
    top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    -webkit-animation: blink 5s infinite;
    animation: blink 5s infinite;
}

.left-eye::after,
.right-eye::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #000;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.right-eye {
    left: 180px;
}

@-webkit-keyframes blink {

    0%,
    15%,
    30%,
    65%,
    75%,
    80%,
    90% {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

    25%,
    70%,
    85% {
        border-top: 40px solid black;
        border-bottom: 40px solid black;
    }
}

@keyframes blink {

    0%,
    15%,
    30%,
    65%,
    75%,
    80%,
    90% {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

    25%,
    70%,
    85% {
        border-top: 40px solid black;
        border-bottom: 40px solid black;
    }
}

.mouth {
    width: 200px;
    height: 10px;
    position: absolute;
    top: 200px;
    left: 50px;
}

.mouth::before {
    content: "";
    width: 200px;
    height: 100px;
    border-bottom: 10px solid grey;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 25%;
    -webkit-animation: mouth-smile 5s infinite;
    animation: mouth-smile 5s infinite;
}

.mouth::after {
    content: "";
    width: 200px;
    height: 100px;
    border-top: 10px solid grey;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: mouth-frown 5s infinite;
    animation: mouth-frown 5s infinite;
}

@-webkit-keyframes mouth-smile {
    0% {
        border-radius: 0%;
        opacity: 1;
    }

    25% {
        border-radius: 25%;
    }

    49% {
        border-radius: 0%;
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }
}

@keyframes mouth-smile {
    0% {
        border-radius: 0%;
        opacity: 1;
    }

    25% {
        border-radius: 25%;
    }

    49% {
        border-radius: 0%;
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes mouth-frown {
    0% {
        opacity: 0;
        border-radius: 0%;
    }

    48% {
        border-radius: 0%;
        opacity: 0;
    }

    50% {
        opacity: 1;
        border-radius: 0%;
    }

    75% {
        border-radius: 40%;
    }

    100% {
        border-radius: 0%;
    }
}

@keyframes mouth-frown {
    0% {
        opacity: 0;
        border-radius: 0%;
    }

    48% {
        border-radius: 0%;
        opacity: 0;
    }

    50% {
        opacity: 1;
        border-radius: 0%;
    }

    75% {
        border-radius: 40%;
    }

    100% {
        border-radius: 0%;
    }
}

.error-heading {
    text-align: center;
    color: white;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
}

.error-content {
    font-family: 'Roboto', sans-serif;
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 24px;
    background: #ddd;
    padding: 1em;
}

.haiku {
    background: #ddd;
    color: #000;
    width: 350px;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.3em;
    letter-spacing: .1em;
}