*,
:after,
:before {
    box-sizing: inherit;
}

html {
    width: 100%;
    height: 100%;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
    color: white;

}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

.main-content {
    width: 90%;
    height: 60%;
    float: left;
    display: block;
    margin-top: 2%;
    margin-left: 2%;
}

.scroll-content {
    max-height: 100%;
    min-height: 100%;
    overflow-y: scroll;

}

.inner-content {
    padding: 16px;
}

.text-padding {
    padding-left: 6%;
    padding-right: 4%;
}

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: transparent;
}

#style-1::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #b836c6;
}

@media only screen and (max-width: 1024px) {
    .main-content {
        top: 50%;
        width: 90%;
        height: 64%;
    }
}

@media only screen and (max-width: 768px) {
    .main-content {
        top: 52%;
        width: 100%;
        height: 68%;
    }
}

@media only screen and (max-width: 360px) {
    .main-content {
        top: 52%;
        width: 100%;
        height: 60%;

    }
}

@media only screen and (min-width: 380px) and (max-width: 480px) {
    .main-content {
        top: 52%;
        width: 100%;
        height: 70%;

    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) {
    .main-content {
        top: 55%;
        width: 100%;
        height: 50%;
    }

    .foo {
        margin: 20px !important;
    }

    h1 {
        font-size: 1.5rem;
        padding-top: 20vh !important;
    }
}

.hud--main {
    position: fixed;
    bottom: 7vh;
}

.hud-timer__inner {
    display: none;
}

.navbar-x {
    padding-top: 2px;
}

@media only screen and (max-width:480px) {
    .hud--main {
        display: none;
    }

    .navbar-x {
        padding-top: 0px;
    }
}
button.btn-side {
    width: 130px;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    color: #fff;
    border: 2px solid white;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 20px;
    background-color: transparent;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-bottom: 5px;
    /* letter-spacing: 0.1rem; */
  
  }
  
  button.btn-live {
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
  }
  
  button.btn-live#ca:hover {
    color: #fff;
    background-color: #001F3F;
  }
  