ul,
li {
    font-family: 'Raleway', sans-serif;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 1.4rem !important;
        text-align: center;
    }

    #backbtn {
        padding-left: 20px;
    }

    button#comp_login.btn-side {
        width: 34% !important;
    }
}

#tab>p>b {
    font-size: 2.5vh;
    font-weight: unset;
}

ul {
    -webkit-transform: rotate(deg) skew(20deg, 5deg);
    transform: rotate(deg) skew(20deg, 5deg);
}

.list-item {
    background: #2f0028;
    color: #575757;
    text-align: center;
    height: 2.5em;
    width: 5.4em;
    vertical-align: middle;
    line-height: 2.5em;
    border-bottom: 1px solid #2f0028;
    position: relative;
    display: block;
    text-decoration: none;
    transition: all .25s linear;
}

.list-item:hover {
    background: #b836c6;
    color: #fffcfb;
    -webkit-transform: translate(0.9em, -0.9em);
    transform: translate(0.9em, -0.9em);
    transition: all .25s linear;
}

.list-item:hover:before,
.list-item:hover:after {
    transition: all .25s linear;
}

.list-item:hover:before {
    background: #b836c6;
    width: 1em;
    top: .5em;
    left: -1em;
}

.list-item:hover:after {
    background: #b836c6;
    width: 1em;
    bottom: -2.9em;
    left: 1.5em;
    height: 4.7em;
}

.list-item:before,
.list-item:after {
    content: '';
    position: absolute;
    transition: all .25s linear;
    width: .5em;
}

.list-item:after {
    height: 4em;
    background: #2f0028;
    bottom: -2.25em;
    left: 1.5em;
    -webkit-transform: rotate(90deg) skew(0, 45deg);
    transform: rotate(90deg) skew(0, 45deg);
}

.list-item:before {
    height: 2.5em;
    background: #2f0028;
    top: .25em;
    left: -.5em;
    -webkit-transform: skewY(-45deg);
    transform: skewY(-45deg);
}

.fa {
    color: #b836c6 !important
}

@media only screen and (max-width: 520px) {
    .fa {
        line-height: 1.428571;
        color: #b836c6 !important
    }

    .col {
        flex-grow: 0 !important
    }
}

@media only screen and (min-width:1024px) {
    h1 {
        /* padding-left: 5%; */
        padding-right: 30%;
        text-align: center;
    }
}

button.btn-side {
    width: 50%;
    font-size: 1.2em;
}

button#comp_login.btn-side {
    width: 30%;
}

button.btn-live#event:hover {
    color: #fff;
    background-color: #001F3F;
}

/* Form Styling */
.modal.fade#register-competitions {
    width: 600px;
    max-width: 100%;
    height: 600px;
    max-height: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: snow;
    box-shadow: 0 0 60px 10px rgba(207, 31, 230, 0.226);
}

.modal-title h3 {
    color: #782181;
}

.modal-title h4 {
    color: dimgrey;
}

label.control-label,
input,
.radio-inline {
    color: grey;
    font-family: 'Raleway', sans-serif;
}

@media only screen and (max-width: 480px) {
    .modal.fade#register-competitions {
        max-width: 90%;
        max-height: 80%;
    }
}

.modal.fade#pay-competitions {
    width: 600px;
    max-width: 100%;
    height: 450px;
    max-height: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 60px 10px rgba(207, 31, 230, 0.226);
    background: snow;
}

@media only screen and (max-width: 480px) {
    .modal.fade#pay-competitions {
        max-width: 92%;
        max-height: 48%;
    }
}

@media only screen and (min-width:768px) and (max-width: 1440px) {
    .modal.fade#pay-competitions {
        max-width: 92%;
        max-height: 60%;
    }
}

.modal-title h2 {
    letter-spacing: 0.1rem;
    color: #782181;
}

.modal-title .eName {
    font-size: 24px;
    color: dimgray;
    font-weight: bold;
}