* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.navbar {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.navbar-buttons {
    position: relative;
    width: 155px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Sing In Button */
.button {
    background-color: #ea2e49;
    width: 97px;
    height: 28px;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    background: rgba(51, 55, 69, 0.90);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
}

.overlay.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
    z-index: 1;
}

.overlay .nav-title {
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 8%;
}

.overlay nav {
    position: relative;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 20px;

}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}

.overlay ul li {
    display: block;
    position: relative;
    opacity: 0;
    margin-bottom: 50px;
}

.overlay ul li a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
}

.overlay ul li a:after {
    content: '';
    position: absolute;
    top: 90%;
    left: 43.5%;
    width: 0%;
    transform: translateX(-50%);
    height: 2px;
    background: #FFF;
    transition: .35s;
}

.overlay ul li a:hover,
.overlay ul li a:focus,
.overlay ul li a:active {
    color: #ea2e49;
}

.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
    width: 100%;
    background: #ea2e49;
}

.overlay.open li {
    animation: fadeInRight .5s ease forwards;
    animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
    animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
    animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
    animation-delay: .50s;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

button:focus {
    outline: 0;
}

.open-menu,
.close-menu,
.button {
    cursor: pointer;
    transition: transform 0.30s;
}

.open-menu:hover,
.close-menu:hover,
.button:hover {
    transform: scale(1.1);
}

@media (max-width: 670px) {
    .overlay nav {
        font-size: 30px;
    }
}

@media (max-width: 550px) {
    .overlay nav {
        font-size: 18px;
        letter-spacing: 10px;
    }

    .navbar {
        padding: 0px 15px;
    }
}

.home-delay {
    visibility: hidden;
}

#nav-delay {
    visibility: hidden;
}

#exampleModalLongTitle {
    color: black !important;
    text-transform: uppercase !important;
    font-size: 20px;
}

.modal-body {
    color: #696d72 !important;
    font-size: 18px;
}

.g_icon {
    width: 30px;
    height: 30px;
}

.f_icon {
    width: 30px;
    height: 30px;
}

.dropdown-menu {
    background: rgba(51, 55, 69, 1);
    min-width: 8em;
    color: #fff;
}

@media only screen and (max-width: 480px) {
    .dropdown-menu.show {
        left: 0px !important;
    }
    .plinth{
        font-size: 60px !important;
    }
    .date {
        font-size: 30px !important;
    }
    .presents {
        font-size: 20px !important;
    }
    .cryptex{
        margin-top: 5% !important;
    }
    .small{
        font-size: 10px !important;
        font-weight: bold;
    }
}

@media only screen and (min-width: 1024px) {
    .dropdown-toggle::after {
        margin-top: 8% !important;
    }
    .plinth-text{
        margin-top: -2% !important;
    }

}
@media only screen and (min-width: 1920px){
    .plinth{
        font-size: 100px !important;
    }
    .date {
        font-size: 50px !important;
    }
    .presents {
        font-size: 30px !important;
    }
    .cryptex{
        margin-top: 8% !important;
        font-size: 90px !important;
    }
    .plinth-text{
        margin-top: 4% !important;
    }
}

@media only screen and (max-width: 320px) {
    .modal-footer {
        margin-left: 43% !important;
    }
}

.dropdown-toggle::after {
    margin-top: 6px;
}

#desk-nav a {
    margin-top: 15px;
    display: flex;
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 1.1px;
    padding: 2px 3px;
    opacity: .75;
    margin: 0px 0px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

#desk-nav {
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    z-index: 99;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

#desk-nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-left: -10px;
}

#desk-nav ul li {
    display: inline-flex;
    margin-left: -50px;
}


#desk-nav a:before {
    left: 0;
}

#desk-nav a:hover {
    color: #ea2e49;
    opacity: 1;
}

#desk-nav a:hover:before {
    width: 100%;
}

#desk-nav a:before {
    -webkit-transition: width .2s cubic-bezier(0.14, 0.59, 1, 1.01);
    transition: width .2s cubic-bezier(0.14, 0.59, 1, 1.01);
}



.plinth {
    font: normal 80px rez;


}

.point {
    color: white;
}

.presents {
    font: normal 30px caviar;

}

.date {
    font: bold 36px hn;

}
.cryptex {
    font: bold 50px Raleway;
    margin-top: 4%;
}
.button-font {
    font: bold 22px caviar;
}

.textp {
    font-family: caviar;
}

.small {
    font-size: 20px;
    padding-top: 10px;
}

.center-padding {
    text-align: center;
    vertical-align: middle;
    margin: auto;

}

.small-padd {
    padding-left: 0px;
}

.table-margin {
    margin-left: 15%;
    margin-right: 15%;
}

.head-font {
    font-family: 'Audiowide', cursive;
    font-size: 1.3vw !important;
    color: white !important;
}

.body-font {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.2vw;
}


.sub-heading {
    font-size: 1.8rem;
}

#prof {
    margin-bottom: 5px;
}

#userp {
    margin-top: 10px;
}

.no-margin {
    margin-left: unset !important;
}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 480px) {




    .sub-heading {
        font-size: 1.5rem;
    }


}


@media only screen and (min-width: 480px) and (max-width: 640px) and (orientation: landscape) {

    .sub-heading {
        font-size: 1.5rem;
    }
}

@media only screen and (orientation : portrait) {

    .head-font {
        font-size: 2.4vh !important;
    }

    .body-font {
        font-size: 1.8vh;
    }

    .table-margin {
        margin-left: 2%;
        margin-right: 2%;
    }
}
