@font-face {
    font-family: 'Arame-Regular';
    src: url("../fonts/Arame-Regular.otf");
}

@font-face {
    font-family: 'Arame-Bold';
    src: url("../fonts/Arame-Bold.otf");
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Arame-Regular';
}

#txt {
    color: #4C4D64 !important;
    font-family: Muller, sans-serif;
    font-weight: 5 !important;
}

@media only screen and (max-width: 1024px) {
    #txt {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 1366px) {
    #txt {
        padding-top: 5px;
        padding-left: 15px;
        margin-bottom: -60px !important;
    }
}

@media only screen and (min-width : 1440px) and (max-width: 1800px) {

    #txt {
        margin-top: -80px !important;
        margin-left: 30px !important;
    }
}

@media only screen and (min-width: 1920px) {
    #txt {
        margin-top: -125px;
        margin-left: 50px;
        font-size: 3.1rem;
    }
}

#exampleModalLongTitle {
    color: black !important;
    text-transform: uppercase !important
}

.modal-body {
    color: #696d72 !important
}

.g_icon {
    width: 30px;
    height: 30px;
}

.f_icon {
    width: 30px;
    height: 30px;
}

.btn {
    color: #2d3542 !important;
    border: none !important
}

.btn:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    /* letter-spacing: 3px; */
    border: none !important;
    background: none;
    box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
}

@media only screen and (max-height:768px) {
    .main {
        margin-top: 10% !important
    }
}

.thankyou_message h3 {
    color: #4C4D64 !important;
    font-family: Muller, sans-serif;
    font-weight: 3 !important;
    text-align: center;
    font-size: 2.1rem;
}

.form-elements {
    margin-right: 10px;
}

.btn-grp {
    width: 100%;
    margin-left: 85% !important;
    position: absolute;
    /* padding-bottom: 35% !important; */
    /* padding-top: 10% !important; */
}

button.btn-side {
    width: 10.5%;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    color: #fff;
    border: 2px solid white;
    /* text-transform: uppercase; */
    text-align: center;
    line-height: 1;
    font-size: 12px;
    background-color: transparent;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-bottom: 5px;
    /* letter-spacing: 0.1rem; */

}

button.btn-live {
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

button.btn-live#ca:hover {
    color: #fff;
    background-color: #001F3F;
}

button.btn-side:hover {
    color: #001F3F;
    background-color: #fff;
}

@-moz-document url-prefix() {
    .btn-grp {
        width: 100%;
        margin-left: 170% !important;
        position: absolute;
        /* padding-bottom: 35% !important; */
        /* padding-top: 10% !important; */
    }
}

@-webkit-keyframes glowing {
    0% {
        background-color: #b836c6;
        -webkit-box-shadow: 0 0 3px #b836c6;
    }

    50% {
        background-color: #2f0028;
        -webkit-box-shadow: 0 0 40px #2f0028;
    }

    100% {
        background-color: #b836c6;
        -webkit-box-shadow: 0 0 3px #b836c6;
    }
}

@-moz-keyframes glowing {
    0% {
        background-color: #b836c6;
        -moz-box-shadow: 0 0 3px #b836c6;
    }

    50% {
        background-color: #2f0028;
        -moz-box-shadow: 0 0 40px #2f0028;
    }

    100% {
        background-color: #b836c6;
        -moz-box-shadow: 0 0 3px #b836c6;
    }
}

@-o-keyframes glowing {
    0% {
        background-color: #b836c6;
        box-shadow: 0 0 3px #b836c6;
    }

    50% {
        background-color: #2f0028;
        box-shadow: 0 0 40px #2f0028;
    }

    100% {
        background-color: #b836c6;
        box-shadow: 0 0 3px #b836c6;
    }
}

@keyframes glowing {
    0% {
        background-color: #b836c6;
        box-shadow: 0 0 3px #b836c6;
    }

    50% {
        background-color: #2f0028;
        box-shadow: 0 0 40px #2f0028;
    }

    100% {
        background-color: #b836c6;
        box-shadow: 0 0 3px #b836c6;
    }
}

@media only screen and (max-height: 360px) {
    #npt {

        margin-top: 0% !important
    }

    #txt {
        display: none;
    }

    .hud--main {
        margin-bottom: 3% !important
    }

    .sp {
        margin-left: 5% !important
    }

    .regi_lo {
        margin-top: 17px !important
    }
}

@media only screen and (height: 411px) and (width:731px) {
    #npt {
        display: none !important
    }

    .hud--main {
        margin-bottom: 3% !important
    }

    #txt {
        font-size: 30px !important;
        margin-top: 80% !important
    }
}

@media only screen and (height: 411px) and (width:823px) {
    #txt {
        font-size: 20px !important;
        margin-top: 0% !important
    }

    .hud--main {
        margin-bottom: 2% !important
    }

}

@media only screen and (height: 375px) and (width:667px) {
    #npt {
        /* font-size: 20px !important; */
        margin-top: 0% !important
    }

    #txt {
        display: none;
    }

    .hud--main {
        margin-bottom: 2% !important
    }

    .regi_lo {
        margin-top: 17px !important
    }

    .sp {
        margin-left: 5% !important
    }

    .navbar-x {
        margin-top: 2% !important
    }

}

@media only screen and (height: 414px) and (width:736px) {
    #npt {

        display: none !important;
    }

    #txt {
        font-size: 20px !important;
        margin-top: -30% !important
    }

    .hud--main {
        margin-bottom: 2% !important
    }

    .navbar-x {
        margin-top: 2% !important
    }

}

@media only screen and (height: 375px) and (width:812px) {
    #npt {

        display: none !important;
    }

    #txt {
        font-size: 20px !important;
        margin-top: 0% !important
    }

    .hud--main {
        margin-bottom: 2% !important
    }

    .navbar-x {
        margin-top: 2% !important
    }

    #seprate {
        margin-left: 16% !important;
    }

}

@media only screen and (min-width: 360px) and (max-height: 640px) and (orientation : landscape) {
    #npt img {
        padding-bottom: 10px;
        margin-bottom: 90px;
    }
}

/* .hud--main {
    bottom: 10vh;
} */



/* custom  */
.foo {
    color: white !important;
    font-weight: 400 !important
}

.foo:hover {

    color: #4C4D64 !important;
}

@media only screen and (min-width : 420px) and (max-width : 450px) and (min-height:361px) and (max-height:670px) {
    .main {
        margin-top: -35% !important
    }

    .hud-timer__inner {
        margin-top: -18% !important
    }
}

@media only screen and (min-width : 420px) and (max-width : 450px) and (min-height:671px) and (max-height:760px) {
    .main {
        margin-top: -39% !important
    }

    .hud-timer__inner {
        margin-top: -18% !important
    }
}

@media only screen and (max-width : 346px) {
    .modal-footer {
        margin-left: 41% !important
    }

}

@media only screen and (max-width : 450px) {
    .foo {
        font-size: 12px !important
    }

}
.back-back-icon:hover{
    cursor: pointer;
}