html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden
}
.hud--main {
    position: fixed;
    bottom: 7vh;
}
.hud-timer__inner{
    display: none;
}
.navbar-x{
    padding-top: 2px; 
}

@media only screen and (max-width:415px){
    .hud--main{
        display: none;
    }
    .navbar-x{
        padding-top: 0px;
    }
}

.container {
    max-width: 960px;
  }
  
  .panel-default>.panel-heading {
    color: #333;
    background-color: transparent;
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .panel-default>.panel-heading a {
    display: block;
    padding: 10px 15px;
  }
  
  .panel-default>.panel-heading a:after {
    content: "";
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
  }
  
  .panel-default>.panel-heading a[aria-expanded="true"] {
    background-color: transparent;
  }
  
  .panel-default>.panel-heading a[aria-expanded="true"]:after {
    content: "\2212";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  .panel-default>.panel-heading a[aria-expanded="false"]:after {
    content: "\002b";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .accordion-option {
    width: 100%;
    float: left;
    clear: both;
    margin: 15px 0;
  }
  
  .accordion-option .title {
    font-size: 2px;
    font-weight: bold;
    float: left;
    padding: 0;
    margin: 0;
  }
  
  .accordion-option .toggle-accordion {
    float: right;
    font-size: 12px;
    color: #6a6c6f;
  }
h4{
    font-size: calc(.835rem + .24848vw);
}
a{
    color: #fff;
}
p{
    font-family: Muller;
    font-size: calc(.825rem + .24838vw);
    margin-left: 4% !important;
    
}
