* {
	box-sizing: border-box;
  }
  
  html {
	font-size: 100%;
  }
  
  body {
	word-wrap: break-word;
  }
  
  .body,
  .imageCaption {
	line-height: 1.4;
  }
  
  .clearfix::after {
	content: "";
	display: table;
	clear: both;
  }
  
  .galleryWrapper {
	font-size: 0.85rem;
	width: 90%;
	margin: 3rem auto;
	
  }
  
  .galleryWrapper,
  .imageBox {
	max-width: 60rem;
  }
  
  .header {
	font: 2.1em 'Oswald', sans-serif;
	margin: 1.25rem 0;
	padding: 0 0.5rem;
  }
  
  .imageBox,
  .header {
	text-align: center;
  }
  
  .imageContainer {
	padding: 0 0.5rem 1.25rem;
	padding-top: 20% !important
  }
  
  .imageLink {
	display: inline-block;
  }
  
  .imageLink,
  .imageBox {
	line-height: 0;  
  }
  
  .imageLink:nth-of-type(-n+3) {
	margin-bottom: 0.8rem;
  }
  
  .imageBox,
  .largeImage,
  .image,
  .imageCaption {
	width: 100%;
  }
  
  .image,
  .largeImage {
	-webkit-transform: perspective(1px);
	-moz-transform: perspective(1px);
	transform: perspective(1px);
  }
  
  .overlayContainer {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 250;
  }
  
  .overlayContainer,
  .imageCaption {
	bottom: 0;
  }
  
  .relativeContainer {
	position: relative;
	margin: 0 0.5rem;
  }
  
  .imageBox,
  .imageCaption {
	position: absolute;
  }
  
  .imageBox {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }
  
  .display {
	display: block;
  }
  
  .imageCaption {
	margin: 0;
	font-size: 1.3em;
	padding: 0.325rem;
  }
  
  
  
  /***Colors***/
  body {
	color: #333;
	background-color: rgba(176, 196, 222, .4);
  }
  
  .imageLink {
	outline: none;
	-webkit-transition: all ease .2s;
	transition: all ease .2s;
  }
  
  .imageLink:hover,
  .imageLink:focus {
	opacity: 0.8;
  }
  
  .overlayContainer {
	visibility: hidden;
	opacity: 0;
	background-color: rgba(51, 51, 51, .9);
	-webkit-transition: all ease .5s;
	transition: all ease .5s;
  }
  
  .imageBox {
	cursor: pointer;
  }
  
  .largeImage {
	box-shadow: 5px 5px 5px 0px rgb(0, 0, 0);
  }
  
  .imageCaption {
	background: rgba(51, 51, 51, .8);
	color: #fff;
  }
  
  .opacity {
	visibility: visible;
	opacity: 1;
  }
  
  
  
  @media only screen and (min-width: 30em) {
	
  .imageLink {  
	float: left;
	width: 48.33%;
  }
	
  .imageLink:nth-of-type(1),
  .imageLink:nth-of-type(3) {
	margin-right: 3.33%;
  }  
	
  .imageLink:nth-of-type(3) {
	margin-bottom: 0;
  }
   
	
	
  }