@media only screen and (min-height: 1024px){
   #rlbuttn,#rlbuttn_menu{
       display: none !important;
   }
   
}
@media only screen and (min-height: 501px){
    #faq_rm{
visibility: hidden !important
    }
    #faqbtn_rm{
       visibility: visible !important
    }
}
@media only screen and (max-height:500px){
    #faqbtn_rm{
        visibility: hidden !important
    }
    #faq_rm{
        visibility:visible !important
            }
}
@media only screen and (min-height: 770px){
   #seprate{
    display: none !important;
   }
}
@media only screen and (max-height: 770px){
    #mobsep{
     display: none !important;
    }
 }
 