
.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 98%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
	display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}
.propic{
    box-shadow:
    inset 0 0 0 0 rgba(200, 95, 66, 0.4),
    inset 0 0 0 0   rgba(255, 255, 255, 0.6),
    0 1px 2px rgba(0, 0, 0, 0.1);
}
.hmm{
    font-size: 35px !important;
    letter-spacing: 15px !important
}
@media only screen and (min-width:200px) and (max-width: 420px){
    .propic{
        height: 100%;
        width: 100%;
    }
    .hmm{
        font-size: 20px !important;
        letter-spacing: 15px !important
    }
  }



@media only screen and (min-width:1000px) and (max-width: 1440px){
    .mpro{
        margin-right: 4% !important
    }
  }
  @media only screen and (min-width:1441px) and (max-width: 1640px){
    .mpro{
        margin-right: 4% !important
    }
  }
  @media only screen and (min-width:1641px) and (max-width: 1840px){
    .mpro{
        margin-right: 4% !important
    }
  }
  @media only screen and (min-width:1841px) and (max-width: 2000px){
    .mpro{
        margin-right: 4% !important
    }
  }
  