@media only screen and (min-width:320px) and (max-width:480px){
    .btnfix{
        margin-left: 5% !important;
    }
}
@media only screen and (min-width:1400px){
    .main-content{
        margin-top: 6% !important;
        margin-left: 8% !important;
    }
}