@media (max-width:2200px) {
    body {
        font-size: calc(.825rem + .21818vw)
    }

    h2 {
        font-size: calc(1.35rem + 1.74545vw)
    }

    h3 {
        font-size: calc(1.25rem + 1.45455vw)
    }

    h4 {
        font-size: calc(1.05rem + .87273vw)
    }

    h5 {
        font-size: calc(.9rem + .43636vw)
    }

    .menu-list-item a {
        font-size: calc(.975rem + .65455vw)
    }

    .hud__deadline-date {
        font-size: calc(.825rem + .21818vw)
    }

    .hud-timer__cell span {
        font-size: calc(.95rem + .58182vw)
    }

    .fixed-nav__name {
        font-size: calc(.7625rem + .03636vw)
    }

    .header__logo {
        font-size: calc(.975rem + .65455vw)
    }

    .header__login {
        font-size: calc(.8125rem + .18182vw)
    }

    .header__logout {
        font-size: calc(.8125rem + .18182vw)
    }

    .main__year {
        font-size: calc(2.575rem + 10.25455vw)
    }

    .main__header {
        font-size: calc(1.725rem + 2.83636vw)
    }

    .main__desc {
        font-size: calc(.9rem + .43636vw)
    }

    .main__btn {
        font-size: calc(.8rem + .14545vw)
    }

    .prize-header {
        font-size: calc(3.1rem + 6.83636vw)
    }

    .prize-header__text {
        font-size: calc(1.35rem + 1.74545vw)
    }

    .prize-desc {
        font-size: calc(.8rem + .14545vw)
    }

    .prize__ring {
        font-size: calc(.775rem + .07273vw)
    }

    .prize__ring span {
        font-size: calc(1.1625rem + 1.2vw)
    }

    .prize:last-child .prize__ring span {
        font-size: calc(.975rem + .65455vw)
    }

    .prize__eth {
        font-size: calc(.8625rem + .32727vw)
    }

    .prize__rub {
        font-size: calc(.8rem + .14545vw)
    }

    .list__ring {
        font-size: calc(.775rem + .07273vw)
    }

    .versus__header-text {
        font-size: calc(1.25rem + 1.45455vw)
    }

    .example__link {
        font-size: calc(.775rem + .07273vw)
    }

    .chat__btn {
        font-size: calc(.775rem + .07273vw)
    }

    .news__img-header {
        font-size: calc(.9rem + .43636vw)
    }

    .news__img-tip {
        font-size: calc(.825rem + .21818vw)
    }

    .request__list-item {
        font-size: calc(.8rem + .14545vw)
    }

    .request__form-header {
        font-size: calc(.8625rem + .32727vw)
    }

    .request__form-member b {
        font-size: calc(.8rem + .14545vw)
    }

    .request__form-btn span {
        font-size: calc(.775rem + .07273vw)
    }

    .request__group-input span {
        font-size: calc(.8rem + .14545vw)
    }

    .request__input {
        font-size: calc(.8rem + .14545vw)
    }

    .request__label {
        font-size: calc(.8rem + .14545vw)
    }

    .request__textarea {
        font-size: calc(.8rem + .14545vw)
    }

    .member-num {
        font-size: calc(.85rem + .29091vw)
    }

    .footer {
        font-size: calc(.775rem + .07273vw)
    }

    .page-faq {
        font-size: calc(.8rem + .14545vw)
    }

    .page-faq h1 {
        font-size: calc(1.25rem + 1.45455vw)
    }

    .page-faq h2 {
        font-size: calc(.975rem + .65455vw)
    }

    .page-request {
        font-size: calc(.8rem + .14545vw)
    }

    .page-request h1 {
        font-size: calc(1.25rem + 1.45455vw)
    }

    .page-request h3 {
        font-size: calc(.8625rem + .32727vw)
    }

    .page-request .noise-btn {
        font-size: calc(.775rem + .07273vw)
    }

    .page-request .project__name {
        font-size: calc(1.05rem + .87273vw)
    }

    .page-request .project__group-input span {
        font-size: calc(.8rem + .14545vw)
    }

    .page-request .project__input {
        font-size: calc(.8rem + .14545vw)
    }

    .page-request .project__input-edit {
        font-size: calc(1.05rem + .87273vw)
    }

    .page-request .project__add-member b {
        font-size: calc(.8rem + .14545vw)
    }

    .page-preview .preview__name,
    .page-project .preview__name {
        font-size: calc(1.05rem + .87273vw)
    }

    .page-preview .preview__likes,
    .page-project .preview__likes {
        font-size: calc(.7875rem + .10909vw)
    }

    .page-preview .preview__comments,
    .page-project .preview__comments {
        font-size: calc(.7875rem + .10909vw)
    }

    .page-preview .preview__link,
    .page-project .preview__link {
        font-size: calc(.775rem + .07273vw)
    }

    .page-preview .preview__publish-btn,
    .page-project .preview__publish-btn {
        font-size: calc(.8rem + .14545vw)
    }

    .page-preview .preview__edit-link,
    .page-project .preview__edit-link {
        font-size: calc(.8rem + .14545vw)
    }

    .page-preview .preview-info__header,
    .page-project .preview-info__header {
        font-size: calc(1.05rem + .87273vw)
    }

    .page-preview .preview-info__subheader,
    .page-project .preview-info__subheader {
        font-size: calc(.8625rem + .32727vw)
    }

    .page-preview .preview-info__content p,
    .page-project .preview-info__content p {
        font-size: calc(.8rem + .14545vw)
    }

    .page-preview .preview-info__member,
    .page-project .preview-info__member {
        font-size: calc(.8rem + .14545vw)
    }

    .page-project .preview__inner {
        font-size: calc(.85rem + .29091vw)
    }

    .page-project .next-project,
    .page-project .prev-project {
        font-size: calc(.85rem + .29091vw)
    }

    .page-project .comments__header {
        font-size: calc(1.25rem + 1.45455vw)
    }

    .page-project .comment--first::before {
        font-size: calc(.85rem + .29091vw)
    }

    .page-project .comment__author {
        font-size: calc(.8625rem + .32727vw)
    }

    .page-project .comment__date {
        font-size: calc(.775rem + .07273vw)
    }

    .page-project .comment__text {
        font-size: calc(.825rem + .21818vw)
    }

    .page-project .comment__reply {
        font-size: calc(.825rem + .21818vw)
    }

    .page-project .form__header {
        font-size: calc(.975rem + .65455vw)
    }

    .page-project .form__input {
        font-size: calc(.8rem + .14545vw)
    }

    .page-project .form__group-input span {
        font-size: calc(.8rem + .14545vw)
    }

    .page-project .form__send {
        font-size: calc(.775rem + .07273vw)
    }

    .page-projects .projects-header {
        font-size: calc(1.25rem + 1.45455vw)
    }

    .page-projects .projects-subheader {
        font-size: calc(.825rem + .21818vw)
    }

    .page-projects .projects-button {
        font-size: calc(.825rem + .21818vw)
    }

    .page-projects .project__comments {
        font-size: calc(.7875rem + .10909vw)
    }

    .page-projects .project__desc {
        font-size: calc(.8rem + .14545vw)
    }

    .page-login .login-form__header {
        font-size: calc(1.25rem + 1.45455vw)
    }

    .page-login .login-form__group span {
        font-size: calc(.825rem + .21818vw)
    }

    .page-login .login-form__input {
        font-size: calc(.8rem + .14545vw)
    }

    .page-login .login-form__btn {
        font-size: calc(.775rem + .07273vw)
    }

    .page-login .login-form__remember {
        font-size: calc(.8rem + .14545vw)
    }
}

@media only screen and (min-width:2000px) {
    .page-faq .faq__questions {
        padding-right: 10vw
    }

    .page-faq .faq__answers {
        padding-left: 10vw
    }
}

@media only screen and (min-width:2400px) {
    .page-faq .faq__answers {
        min-width: 60%
    }

    .page-faq .faq__answer {
        max-width: 60%
    }
}

@media only screen and (max-width:2000px) {
    .int-canvas--brain {
        -webkit-transform: translate(5vw, 0) scale(1.2);
        -ms-transform: translate(5vw, 0) scale(1.2);
        transform: translate(5vw, 0) scale(1.2)
    }

    .int-canvas--pt {
        -webkit-transform: translate(5vw, 0) scale(1.2);
        -ms-transform: translate(5vw, 0) scale(1.2);
        transform: translate(5vw, 0) scale(1.2)
    }

    .int-canvas--cup {
        -webkit-transform: translate(10vw, 0) scale(1.2);
        -ms-transform: translate(10vw, 0) scale(1.2);
        transform: translate(10vw, 0) scale(1.2)
    }

    .int-canvas--chat {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2)
    }
}

@media only screen and (max-width:1700px) {
    .int-canvas--cup {
        -webkit-transform: translate(5vw, 0);
        -ms-transform: translate(5vw, 0);
        transform: translate(5vw, 0)
    }
}

@media only screen and (max-width:1450px) {
    .page-faq .faq__questions {
        padding-right: 6em
    }

    .page-faq .faq__answers {
        padding-left: 6em
    }

    .header__nav li a,
    .lang__btn {
        font-size: 11px
    }

    .hud__deadline-date {
        font-size: .875rem
    }

    .int-canvas--brain {
        -webkit-transform: translate(5vw, 0) scale(1);
        -ms-transform: translate(5vw, 0) scale(1);
        transform: translate(5vw, 0) scale(1)
    }

    .int-canvas--pt {
        -webkit-transform: translate(5vw, 0) scale(1);
        -ms-transform: translate(5vw, 0) scale(1);
        transform: translate(5vw, 0) scale(1)
    }

    .int-canvas--chat {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

@media only screen and (max-width:1450px) and (max-width:2200px) {
    .hud__deadline-date {
        font-size: calc(.775rem + .07273vw)
    }
}

@media only screen and (max-width:1380px) {
    .page-faq .faq__answers {
        min-width: 30em
    }

    .page-faq .faq__answer {
        max-width: 30em
    }

    .page-preview .header__logo,
    .page-project .header__logo,
    .page-projects .header__logo {
        width: 6.5em
    }

    .page-preview .header__nav li.authorized,
    .page-project .header__nav li.authorized,
    .page-projects .header__nav li.authorized {
        margin-right: 10px
    }

    .page-preview .header__nav a,
    .page-project .header__nav a,
    .page-projects .header__nav a {
        font-size: 10px
    }
}

@media only screen and (max-width:1249px) {
    .list {
        max-width: 80%
    }

    .int-canvas--brain {
        -webkit-transform: translate(5vw, 0) scale(.85);
        -ms-transform: translate(5vw, 0) scale(.85);
        transform: translate(5vw, 0) scale(.85)
    }

    .int-canvas--pt {
        -webkit-transform: translate(5vw, 0) scale(.85);
        -ms-transform: translate(5vw, 0) scale(.85);
        transform: translate(5vw, 0) scale(.85)
    }

    .int-canvas--cup {
        -webkit-transform: translate(5vw, 0) scale(.9);
        -ms-transform: translate(5vw, 0) scale(.9);
        transform: translate(5vw, 0) scale(.9)
    }

    .int-canvas--chat {
        -webkit-transform: scale(.8);
        -ms-transform: scale(.8);
        transform: scale(.8)
    }
}

@media only screen and (max-width:1199px) {
    .page-projects .project {
        max-width: 40%;
        width: 40%
    }

    .page-projects .project__img {
        height: 16.5em
    }

    .page-projects .project__vote-arrow {
        width: 63px;
        height: 12px
    }

    .page-preview .preview,
    .page-project .preview {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding-top: 15%
    }

    .page-preview .preview__social,
    .page-project .preview__social {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 0
    }

    .page-preview .preview__social::before,
    .page-project .preview__social::before {
        display: none
    }

    .page-preview .header__logo,
    .page-project .header__logo {
        width: 8.67em
    }

    .page-projects .header__logo {
        width: 8.67em
    }

    .page-faq .faq__questions {
        padding-right: 4em
    }

    .page-faq .faq__question {
        max-width: 20em
    }

    .page-faq .faq__question-link.is-active {
        padding-left: 17px
    }

    .page-faq .faq__question-link.is-active::before {
        width: 10px
    }

    .page-faq .faq__answers {
        padding-left: 4em;
        min-width: 20em
    }

    .page-faq .faq__answer {
        max-width: 100%;
        padding-right: 20px
    }

    .lang {
        display: none
    }

    .hamburger {
        opacity: 1;
        pointer-events: auto
    }

    .header {
        padding-top: 20px
    }

    .header__inner nav,
    .header__login,
    .header__logout {
        display: none
    }

    .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .menu .lang {
        display: block
    }
}

@media only screen and (max-width:1120px) {
    .chat__btn {
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    .chat__btn--slack {
        margin-top: 2em
    }
}

@media only screen and (max-width:1020px) {
    .page-project .preview__likes {
        margin-right: 15px
    }

    .page-project .preview__link--github {
        margin-left: 15px;
        margin-right: 25px
    }
}

@media only screen and (max-width:989px) {
    .about__header .br-2 {
        display: inline
    }

    .menu .lang {
        right: 15vw
    }
}

@media only screen and (max-width:900px) {

    .page-preview .preview__buttons,
    .page-project .preview__buttons {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        margin-top: 2em
    }

    .page-preview .preview__links,
    .page-project .preview__links {
        width: 100%
    }

    .page-preview .preview__link--github,
    .page-project .preview__link--github {
        margin-left: 0
    }

    .page-preview .preview-info,
    .page-project .preview-info {
        padding-left: 2.9%;
        padding-right: 2.9%
    }

    .page-project .comments__left {
        padding-right: 2.7em;
        margin-right: 3.2em
    }
}

@media only screen and (max-width:890px) {
    .page-faq .faq__questions {
        padding-right: 4em
    }

    .page-faq .faq__answers {
        padding-left: 4em
    }

    .page-faq .faq__question {
        max-width: 10em
    }
}

@media only screen and (max-width:859px) {
    .cover-wrap {
        max-width: 90%
    }

    .page-projects .project__vote-arrow {
        width: 63px
    }
}

@media only screen and (max-width:840px) {
    .page-request .project__name {
        max-width: 70%
    }

    .page-request .project__input-edit--header {
        right: 30%
    }
}

@media only screen and (max-width:830px) {

    .about__info,
    .chat__desc,
    .list--right .list__item,
    .news__desc,
    .versus__desc {
        padding-left: 78px;
        position: relative
    }

    .about__info::before,
    .chat__desc::before,
    .list--right .list__item::before,
    .news__desc::before,
    .versus__desc::before {
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        left: 0;
        width: 48px;
        height: 2px;
        background: #7c167f
    }

    .request__form {
        padding-left: 4vw
    }

    .member-num {
        -webkit-transform: translate(-20px, 20%);
        -ms-transform: translate(-20px, 20%);
        transform: translate(-20px, 20%)
    }

    .page-project .comments__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .page-project .comments__left {
        margin-right: 0;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }

    .page-project .form {
        margin-top: 3em;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        width: 100%
    }

    .page-project .form__send {
        -ms-flex-item-align: start;
        align-self: flex-start
    }

    .page-projects .projects-subheader b {
        display: block;
        margin-bottom: .3em
    }
}

@media only screen and (max-width:719px) {
    .menu-list-item {
        margin-bottom: 5vw
    }

    .hamburger {
        top: 5.5vw
    }

    .fixed-logo {
        padding-top: 5.5vw
    }

    .menu .lang {
        top: 5.5vw;
        right: 20vw
    }

    .hud-bottom .line {
        width: 68px;
        margin-right: 2em
    }

    .hud__icon {
        margin-right: 2em
    }

    .sp {
        margin-left: 2%;
    }

    .section-about .placeholder {
        display: none
    }

    .about {
        width: 80%;
        margin-left: auto
    }

    .int-canvas,
    .int-canvas-wrap {
        display: none;
        opacity: 0;
        width: 0;
        height: 0;
        visibility: hidden
    }

    .section-versus .placeholder {
        display: none
    }

    .section-versus .fluid--px {
        min-height: auto;
        padding-top: 15vh;
        padding-bottom: 15vh
    }

    .versus {
        width: 80%;
        margin-left: auto
    }

    .section-chat .placeholder {
        display: none
    }

    .section-chat .fluid--px {
        min-height: auto;
        padding-top: 15vh;
        padding-bottom: 15vh
    }

    .chat {
        width: 70%;
        margin-left: auto
    }

    .section-chat .section-padding {
        height: 2em
    }

    .news {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .news__info {
        margin: 0;
        margin-bottom: 2em
    }

    .news__images {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .news__img {
        -webkit-transform: translate(0, 0) !important;
        -ms-transform: translate(0, 0) !important;
        transform: translate(0, 0) !important;
        margin: 1em;
        margin-bottom: 3em;
        width: 40%;
        min-width: 230px;
        display: none
    }

    .news__img:nth-child(1),
    .news__img:nth-child(2),
    .news__img:nth-child(3) {
        display: block
    }

    .news__img-header {
        font-size: 1.125rem
    }

    .news__img-tip {
        font-size: 1rem
    }

    .news-buttons {
        display: none
    }

    .page-request .project__buttons {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .page-request .project__publish-btn {
        margin-left: 0;
        margin-top: 3em
    }
}

@media only screen and (max-width:719px) and (max-width:2200px) {
    .news__img-header {
        font-size: calc(.825rem + .21818vw)
    }

    .news__img-tip {
        font-size: calc(.8rem + .14545vw)
    }
}

@media only screen and (max-width:679px) {
    .fixed-nav {
        display: none
    }

    .about {
        width: 100%
    }

    .versus {
        width: 100%;
        margin-left: 0
    }

    .examples-header {
        line-height: 1.4
    }

    .examples-header br {
        display: inline
    }

    .example {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 7em
    }

    .example__img {
        margin-bottom: 1.5em
    }

    .example__info.absolute {
        position: static;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    .example__desc {
        margin-top: 1em
    }

    .example-wrap {
        padding: 2em 0 0 4em
    }

    .example-wrap--right {
        padding: 2em 4em 0 0
    }

    .example-wrap--right .example {
        padding-left: 0
    }

    .example-wrap--right .example__img {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0
    }

    .chat {
        width: 100%;
        margin-left: 0
    }

    .section--request {
        /* padding-bottom: 20vh */
    }

    .request {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .request__info {
        width: 100%;
        margin-bottom: 80px;
        padding: 0
    }

    .request__info-header {
        padding-left: 0
    }

    .request__form {
        height: auto;
        width: 100%;
        border: none;
        padding: 0
    }

    .request__group {
        padding-left: 30px;
        padding-right: 30px
    }

    .request .member-num {
        -webkit-transform: translate(0, 22%);
        -ms-transform: translate(0, 22%);
        transform: translate(0, 22%)
    }

    .request .member-delete {
        -webkit-transform: translate(0, 20%);
        -ms-transform: translate(0, 20%);
        transform: translate(0, 20%)
    }

    .page-projects .projects-page {
        padding-top: 20%
    }

    .page-projects .projects-row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .page-projects .projects-buttons {
        margin-top: 2em;
        margin-left: 0
    }

    .page-projects .project {
        min-width: 140px;
        width: 47%;
        max-width: 47%
    }

    .page-projects .project__img {
        height: 12em
    }

    .page-projects .project__footer {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .page-projects .project__icons {
        width: 100%;
        margin-top: 1em;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }

    .page-projects .project__vote {
        margin-left: 0;
        text-align: left
    }
}

@media only screen and (max-width:640px) {
    .header {
        background: 0 0
    }

    .fluid-content {
        padding-left: 0 !important
    }

    .page-faq .faq-header {
        position: static
    }

    .page-faq .faq__questions {
        display: none
    }

    .page-faq .faq__gradient {
        display: none !important
    }

    .page-faq .faq__answers {
        margin-left: 0 !important;
        padding-left: 0;
        padding-right: 0;
        min-width: auto;
        border: none
    }

    .page-faq .faq__answer {
        padding-left: 0;
        padding-right: 0
    }

    .page-faq .faq__answer-group:last-child {
        margin-bottom: 0
    }

    .page-request .project__content,
    .page-request .request-header__desc {
        padding-left: 30px
    }

    .page-request .project__name {
        max-width: 80%
    }

    .page-request .project__input-edit--header {
        right: 20%
    }

    .page-preview .preview,
    .page-project .preview {
        padding-left: 2.9%;
        padding-right: 2.9%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .page-preview .preview__name,
    .page-project .preview__name {
        max-width: 100% !important
    }

    .page-project .comments {
        padding-left: 2.9%
    }
}

@media only screen and (max-width:629px) {
    .cover-wrap {
        max-width: 100%;
        padding-right: 0
    }

    .list {
        max-width: 80%;
        padding-left: 0
    }

    .prizes {
        margin-bottom: 4em
    }

    .cover-wrap--voting {
        margin-top: 4em
    }

    .cover-wrap--right {
        padding-left: 0
    }

    .cover-wrap--right .cover {
        padding-left: 0
    }

    .cover-wrap--right .cover__inner {
        width: 90%;
        margin: 0 auto
    }

    .list--right {
        max-width: 100%
    }
}

@media only screen and (max-width:580px) {

    .page-preview .preview__links,
    .page-project .preview__links {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .page-preview .preview__link--github,
    .page-project .preview__link--github {
        margin-bottom: 2em
    }

    .page-project .preview__inner {
        max-width: unset
    }

    .page-project .preview-info {
        margin-top: 40px !important
    }

    .page-project .next-project,
    .page-project .prev-project {
        height: 3.6em;
        top: auto;
        -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
        transform: translateY(50%);
        bottom: 0
    }
}

@media only screen and (max-width:559px) {

    .section-about .hud-bottom,
    .section-about .hud-timer,
    .section-examples .hud-bottom,
    .section-examples .hud-timer,
    .section-prize .hud-bottom,
    .section-prize .hud-timer,
    .section-versus .hud-bottom,
    .section-versus .hud-timer {
        display: none
    }

    .hud-bottom .line {
        display: none
    }

    .hud__icon {
        margin-right: 1.8em
    }

    .sp {
        margin-left: 1.8%;
    }

    .footer__copyright {
        float: unset;
        display: block
    }

    .footer__copyright span {
        float: right
    }

    .developer {
        margin-top: 10px;
        float: unset;
        display: block
    }

    .news {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }

    .news__img {
        width: 75%
    }

    .footer {
        padding-bottom: 10%
    }

    .page-request .project__group-input {
        max-width: calc(100% - 35px)
    }
}

@media only screen and (max-width:530px) {
    .page-projects .projects {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .page-projects .projects-page {
        padding-top: 30%
    }

    .page-projects .project {
        max-width: 100%;
        width: 100%
    }

    .page-projects .project__img {
        height: 17em
    }
}

@media only screen and (max-width:480px) {
    .news__social {
        padding-left: 0
    }

    .news__desc {
        width: auto
    }

    .sp {
        margin-left: 5% !important;
    }

    .menu .lang {
        left: auto;
        top: auto;
        bottom: 17%;
        right: 2.9%
    }

    .page-preview .preview__author,
    .page-project .preview__author {
        padding-left: 0
    }

    .page-preview .preview__author::before,
    .page-project .preview__author::before {
        display: none
    }

    .page-preview .preview-info__video-wrap,
    .page-project .preview-info__video-wrap {
        width: 90%
    }

    .page-preview .preview-info__content,
    .page-project .preview-info__content {
        padding-left: 0
    }

    .page-preview .preview__social,
    .page-project .preview__social {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .page-preview .preview__link--github,
    .page-project .preview__link--github {
        margin-right: 0
    }

    .page-login .login-form {
        width: 90%
    }

    .page-login .login-form__btn {
        margin: 0 auto
    }
}

@media only screen and (max-width:419px) {
    .section-prize .hud-timer+.section-padding {
        display: none
    }

    .section-versus .hud-timer+.section-padding {
        display: none
    }

    .section-examples .hud-timer+.section-padding {
        display: none
    }

    .menu-list-item {
        margin-bottom: 10vw
    }

    .section-main .hud--main {
        bottom: 48vw;
        text-align: center
    }

    .main {
        -webkit-transform: translateY(-20%);
        -ms-transform: translateY(-20%);
        transform: translateY(-20%)
    }

    .main__desc {
        margin-top: 0
    }

    .cover-wrap--voting+.section-padding,
    .cover-wrap--voting+.section-padding+.section-padding {
        display: none
    }

    .section-versus .fluid--px {
        padding-top: 0
    }

    .cover__inner {
        left: auto !important;
        padding-left: 15px;
        padding-right: 15px
    }

    .list {
        max-width: 100%
    }

    .prizes {
        max-width: 100%
    }

    .prize {
        margin-bottom: 3em
    }

    .prize__ring {
        max-width: 163px;
        max-height: 163px;
        min-height: 100px;
        min-width: 100px;
        width: 30vw;
        height: 30vw
    }

    h4 {
        font-size: 1.875rem
    }

    .examples-header {
        font-size: 3.125rem
    }

    .examples-desc {
        max-width: 100%
    }

    .example-wrap {
        padding: 2em 0 0 0
    }

    .example__img {
        -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
        transform: scale(.9)
    }

    .hud--main .hud__deadline {
        float: unset
    }

    .hud--main .hud__icon {
        display: none
    }

    .hud-timer__inner {
        max-width: 60%;
        margin-right: auto;
        padding-top: 55px;
    }

    .news__desc {
        padding-left: 0;
        width: auto
    }

    .news__desc::before {
        display: none
    }

    .news__social {
        padding-left: 0
    }

    .news__img {
        width: 90%;
        margin-left: 0;
        margin-right: 0
    }

    .request .member-num {
        -webkit-transform: translate(0, 8px);
        -ms-transform: translate(0, 8px);
        transform: translate(0, 8px)
    }

    .request .member-delete {
        -webkit-transform: translate(-40%, 20%);
        -ms-transform: translate(-40%, 20%);
        transform: translate(-40%, 20%)
    }

    .page-request .project__group-file {
        width: 100%;
        height: 140px
    }

    .page-request .project__buttons {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .page-request .project__name {
        padding-left: 0;
        font-size: 2.125rem
    }

    .page-request .project__input {
        padding-right: 35px
    }
}

@media only screen and (max-width:419px) and (max-width:2200px) {
    h4 {
        font-size: calc(.975rem + .65455vw)
    }

    .examples-header {
        font-size: calc(1.225rem + 1.38182vw)
    }

    .page-request .project__name {
        font-size: calc(1.025rem + .8vw)
    }
}

@media only screen and (max-width:399px) {
    .main__header {
        font-size: 4.375rem
    }

    .hud__deadline-date {
        font-size: .75rem;
        /* font-family: Muller, sans-serif; */
        font-weight: 500;
        /* padding-left: 48px; */
    }

    .about__info {
        padding-right: 10px
    }

    .section-about .fluid--center {
        padding-top: 0
    }

    .prize-header__text {
        font-size: 2.5rem
    }

    .prize-desc {
        display: block;
        margin: 0 auto;
        width: 80%
    }

    .versus__header-text {
        font-size: 2.8125rem
    }

    .footer__copyright span {
        display: block;
        float: unset;
        margin-left: 0
    }
}

@media only screen and (max-width:399px) and (max-width:2200px) {
    .main__header {
        font-size: calc(1.475rem + 2.10909vw)
    }

    .prize-header__text {
        font-size: calc(1.1rem + 1.01818vw)
    }

    .versus__header-text {
        font-size: calc(1.1625rem + 1.2vw)
    }
}

@media only screen and (min-height:850px) {
    .page-faq .faq__answer-group:last-child {
        margin-bottom: 70vh
    }
}

@media only screen and (min-height:950px) {
    .page-faq .faq__answer-group:last-child {
        margin-bottom: 75vh
    }
}

@media only screen and (min-height:1150px) {
    .page-faq .faq__answer-group:last-child {
        margin-bottom: 80vh
    }
}

@media only screen and (min-height:769px) {
    .main {
        margin-top: 25%;
    }

}

/* Start Here */
.navbar-x {
    background: transparent;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white !important;
    text-transform: uppercase;
    /* padding-top: 15px; */
    font-family: 'Arame-Regular';

}

.foo {
    margin: 7px !important;
    border: 0px solid black;
    padding: 1px 1px 1px 0px;
    color: #E8E0F3;
    letter-spacing: 0.3em;
    font-size: 13.5px;
    font-weight: 7
}

.nowarp {
    white-space: nowrap;
}

@media (max-width:500px) {
    .foo {
        margin: 4px !important;
        letter-spacing: 0.1em;
        font-size: 10.5px;

    }

    .navbar-x {
        margin-left: -5% !important;
    }
}

.navbar {
    margin-top: 20%;

}

.regi_lo {
    background: transparent;
    margin-right: 270px !important;
    margin-top: 3px !important;
    font-family: 'Arame-Regular';
    font-weight: 700;
    color: #f3f2ff;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    position: fixed;
    top: 7;
    right: -15px;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    outline: none !important;
    box-shadow: none;
}

.hamburger {
    outline: none !important;
    box-shadow: none;
}

.noise-btn {
    outline: none !important;
    box-shadow: none;
}

@media only screen and (min-width:1200px) {
    #ele1 {
        height: 70px;
        width: 70px
    }
}

@media (max-width:500px) {
    .foo {
        margin: 5px !important;
        letter-spacing: 0.1em;
        font-size: 10.5px;

    }

    .navbar-x {
        margin-left: -5% !important;
    }
}

/* responsive for map */
@media(max-width:1300px) {
    .mp {
        width: 100%;


    }
}

/* at 1200 and max*/
@media only screen and (min-width:1200px) {
    .header nav {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding-left: 2vw;
        padding-right: 4vw;
        max-width: 55vw !important;
    }

}

@media only screen and (min-width:1451px) {
    .header nav {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding-left: 2vw;
        padding-right: 4vw;
        max-width: 55vw !important;
    }

    .request__form-btn {
        margin-left: 140px;
        margin-right: 100px;
    }
}

@media only screen and (max-width:1025px) {
    .regi_lo {

        background-color: transparent;
        margin-right: 295px !important;
        margin-top: 2px !important;

        /* font-family: Muller, sans-serif; */
        font-weight: 700;
        color: #f3f2ff;
        border: none;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2.4px;
        position: fixed;
        top: 7;
        right: -15px;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        outline: none !important;
        box-shadow: none;
    }

}

@media only screen and (max-width:769px) {
    .regi_lo {

        background-color: transparent;
        margin-right: 285px !important;
        margin-top: -3px !important;

        /* font-family: Muller, sans-serif; */
        font-weight: 700;
        color: #f3f2ff;
        border: none;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2.4px;
        position: fixed;
        right: -35px;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        outline: none !important;
        box-shadow: none;
    }

}

@media only screen and (max-width:425px) {
    .regi_lo {

        background-color: transparent;
        margin-right: 275px !important;
        margin-top: 5px !important;

        /* font-family: Muller, sans-serif; */
        font-weight: 700;
        color: #f3f2ff;
        border: none;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2.4px;
        position: fixed;
        right: -35px;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        outline: none !important;
        box-shadow: none;
    }

}

@media only screen and (max-width:375px) {
    .regi_lo {

        background-color: transparent;
        margin-right: 68%;
        margin-top: 2px !important;
        /* font-family: Muller, sans-serif; */
        font-weight: 700;
        color: #f3f2ff;
        border: none;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2.4px;
        position: fixed;
        right: -30px;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        outline: none !important;
        box-shadow: none;
    }
}

@media only screen and (max-width:360px) {
    .regi_lo {

        background-color: transparent;
        margin-right: 275px !important;
        margin-top: 0px !important;

        /* font-family: Muller, sans-serif; */
        font-weight: 700;
        color: #f3f2ff;
        border: none;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2.4px;
        position: fixed;
        top: 7;
        right: -40px;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        outline: none !important;
        box-shadow: none;
    }

    .request__list-item {
        padding-left: 0;
    }

    .request__form-btn {
        margin-left: 48px;
    }

}

@media only screen and (max-width:320px) {
    .regi_lo {

        background-color: transparent;
        margin-right: 265px !important;
        margin-top: -2px !important;

        /* font-family: Muller, sans-serif; */
        font-weight: 700;
        color: #f3f2ff;
        border: none;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2.4px;
        position: fixed;
        right: -30px;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        outline: none !important;
        box-shadow: none;
    }

}


@media only screen and (max-width:500px) {
    .navbar-x {
        position: fix !important;
        margin-left: 0.3% !important;
    }

    footer {
        background: -webkit-linear-gradient(left, #090025 0%, #2f0028 100%);
        background: -o-linear-gradient(left, #090025 0%, #2f0028 100%);
        background: linear-gradient(to right, #090025 0%, #2f0028 100%);

    }
}

@media only screen and (max-width:500px) {
    #txt {
        display: none;
    }
}

@media only screen and (min-width:1024px) {
    .hud-timer__inner {
        max-width: 18%;
        margin-right: auto;
        margin-bottom: -10%;
    }

    .hud__deadline {
        padding-right: 3.5em;
    }
}

@media only screen and (max-height:768px) {
    .main__desc {
        margin-top: 60%
    }

    #npt {
        margin-top: 85% !important
    }
}



@media only screen and (max-width:500px) {
    .request__info {
        text-align: center !important
    }

    .request__list-item::before {
        background: transparent !important
    }

    .section-header {
        text-align: center !important
    }

}

.request__info-header {
    color: white !important
}





/* footer respo */
@media only screen and (max-width:1921px) {
    #seprate {
        margin-left: 56% !important
    }
}

@media only screen and (max-width:1746px) {
    #seprate {
        margin-left: 53% !important
    }
}

@media only screen and (max-width:1460px) {
    #seprate {
        margin-left: 45% !important
    }
}

@media only screen and (max-width:1030px) {
    #seprate {
        margin-left: 26% !important
    }
}

@media only screen and (min-width:769px) {
    .hud-bottom {
        position: fixed;
    }
}

@media only screen and (height: 690px) and (width:856px) {

    #txt {
        font-size: 29px !important;
        margin-top: 21% !important
    }

    .hud--main {
        margin-bottom: 2% !important
    }

    #seprate {
        margin-left: 18% !important
    }
}

@media only screen and (min-width:320px) and (max-width:1024px) {
    #rlbuttn_menu {
        margin-right: 90px;
        padding-left: -10px;
        color: #f3f2ff;
    }

    .hamburger {
        right: 0.5%;
    }

    .header__nav li a {
        font-size: 12px;
    }

    a.dropdown-item {
        background-color: #2A002B;
      
    }
}
@media only screen and (min-width:422px) and (max-width:455px){
    .hud-timer__inner {
        width: 36% !important;
        align-items: center;
        margin-right:30%;
        margin-top: -24% !important;
    }
    .hud--main{
        bottom: 10vh;
    }
    .regi_lo{
        margin-top: 6px !important;
        font-size: 14px;
    }
    .foo {
        margin: 12px !important;
    }
} 