@media only screen and (max-height: 360px)
{
    #npt{
      
        margin-top: 0% !important
    }
    #txt{
        display: none;
    }
    .hud--main {
        margin-bottom: 3% !important
    }
    .sp{
        margin-left: 5% !important
    }
    .regi_lo{
        margin-top: 17px !important
    }
}
@media only screen and (height: 411px) and (width:731px){
    #npt{
        margin-top: -70% !important
    }
    .hud--main {
        margin-bottom: 3% !important
    }
    #txt{
        font-size: 30px !important;
        margin-top: 80% !important
    }
}
@media only screen and (height: 411px) and (width:823px){
    #txt{
       font-size: 20px !important;
       margin-top: -30% !important 
    }
    .hud--main {
        margin-bottom: 2% !important
    }

}
@media only screen and (height: 375px) and (width:667px){
    #npt{
       /* font-size: 20px !important; */
       margin-top: 0% !important 
    }
    #txt{
        display: none;
    }
    .hud--main {
        margin-bottom: 2% !important
    }
    .regi_lo{
        margin-top: 17px !important
    }
    .sp{
        margin-left: 5% !important
    }

}
@media only screen and (height: 414px) and (width:736px){
    #npt{
       
       display: none !important;
    }
    #txt{
        font-size: 20px !important;
       margin-top: -30% !important 
    }
    .hud--main {
        margin-bottom: 2% !important
    }
    

}
@media only screen and (height: 375px) and (width:812px){
    #npt{
       
       display: none !important;
    }
    #txt{
        font-size: 20px !important;
       margin-top: -30% !important 
    }
    .hud--main {
        margin-bottom: 2% !important
    }
    

}

@media only screen and (min-width: 360px) and (max-height: 640px) and (orientation : landscape) {
    #npt img {
        padding-bottom: 10px;
        margin-bottom: 90px;
    }
}

/* .hud--main {
    bottom: 10vh;
} */



/* custom  */
.foo{
    color: white !important;
    font-weight: 400 !important
}

.foo:hover {
  
    color: #4F4A65 !important
}