h3{
  
    
}
.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 98%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
	display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}

.ch-item {
	/* margin-left: 50%; */
	width: 100%;
	height: 100%;
	border-radius: 28%;
	position: relative;
	cursor: default;
	box-shadow:
		inset 0 0 0 0 rgba(200, 95, 66, 0.4),
		inset 0 0 0 0   rgba(255, 255, 255, 0.6),
		0 1px 2px rgba(0, 0, 0, 0.1);

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.ch-img-1s{
  background-image: url(../media/sponsors_2k19/avas.png);
  background-repeat:no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size:75%;
  

  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  /* height: 100px; */
  
}
.ch-img-2s{
    background-image: url(../media/sponsors_2k19/codechef.png);
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:75%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);

  }
  .ch-img-3s{
    background-image: url(../media/sponsors_2k19/qrato.png);
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.2);

    background-size:110px;
    position: relative;
  }
  .ch-img-4s{
    background-image: url(../media/sponsors_2k19/icicbank.png);
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:75%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);

  }
  .ch-img-5s{
    background-image: url(../media/sponsors_2k19/fbdev.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:110px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);

  }
  .ch-img-6s{
    background-image: url(../media/sponsors_2k19/womanintech.png);
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:75%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);

  }
  .ch-img-7{
    background-image: url(../media/sponsors_2k19/manya_logo.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:75%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);

  }
  .ch-img-8{
    background-image: url(../media/sponsors_2k18/climber.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
  }
.ch-img-9{
  background-image: url(../media/sponsors_2k18/Zoomcar.jpg);
  background-repeat:no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  position: relative;
}
.ch-img-10{
  background-image: url(../media/sponsors_2k18/pedl.png);
  background-repeat:no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  position: relative;
}
.ch-img-11{
    background-image: url(../media/sponsors_2k18/ola.png);
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
  }
.ch-img-12{
  background-image: url(../media/sponsors_2k18/hippocabs-logo.jpg);
  background-repeat:no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  position: relative;
}
.ch-img-13{
    background-image: url(../media/sponsors_2k18/onnbikes.svg);
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
  }
.ch-img-14{
  background-image: url(../media/sponsors_2k18/toppr.png);
  background-repeat:no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  position: relative;
}
.ch-img-15{
    background-image: url(../media/sponsors_2k18/g4g.png);
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
  }
  .ch-img-16{
    background-image: url(../media/sponsors_2k18/imagination.png);
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
  }
.ch-img-17{
  background-image: url(../media/sponsors_2k18/internshala.png);
  background-repeat:no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  position: relative;
}
.ch-img-18{
    background-image: url(../media/sponsors_2k18/eucoffee.png);
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
  }
  .ch-img-19{
    background-image: url(../media/sponsors_2k18/Youniverse.png);
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
  }
.ch-img-20{
  background-image: url(../media/sponsors_2k18/isleoffortune.jpg);
  background-repeat:no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  position: relative;
}
.ch-img-21{
  background-image: url(../media/sponsors_2k18/DesiKitchen.jpg);
  background-repeat:no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  position: relative;
}
.ch-img-22{
    background-image: url(../media/sponsors_2k18/tvg.png);
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
  }
  .ch-img-23{
    background-image: url(../media/sponsors_2k18/tgt.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
  }
  .ch-img-24{
    background-image: url(../media/sponsors_2k18/DesignCut.png);
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
  }
  .ch-img-25{
    background-image: url(../media/sponsors_2k18/TechieNest.png);
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
  }
  .ch-img-26{
    background-image: url(../media/sponsors_2k18/hydrolus.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
  }
  .ch-img-27{
    background-image: url(../media/sponsors_2k18/CodesDope.png);
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
  }
  .ch-img-28{
    background-image: url(../media/sponsors_2k18/HackerEarth.png);
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
  }
  .ch-img-29{
    background-image: url(../media/sponsors_2k18/Codechef.png);
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
  }
  .ch-img-30{
    background-image: url(../media/sponsors_2k18/denabank.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
  }
  .ch-img-31{
    background-image: url(../media/sponsors_2k18/Rorito.png);
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
  }
     
  .ch-img-32{
    background-image: url(../media/sponsors_2k18/Safarnama.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
  }
     
  .ch-img-33{
    background-image: url(../media/sponsors_2k18/aviotron.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
  }
     
  .ch-img-34{
    background-image: url(../media/sponsors_2k18/Pustakmandi.png);
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
  }
     
  .ch-img-35{
    background-image: url(../media/sponsors_2k18/EnchantingVerses.jpg );
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
  }
     
  .ch-img-36{
    background-image: url(../media/sponsors_2k18/sharpvision.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
  }
     
  .ch-img-37{
    background-image: url(../media/sponsors_2k18/HalfBakedBeans.jpeg);
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
  }
  .ch-img-vivo{
    background-image: url(../media/sponsors_2k19/vivo.png);
    background-repeat:no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size:110px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
  }
     
  
  .ch-info {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0;
	

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;

	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);

	-webkit-backface-visibility: hidden;
	/*for a smooth font */

}

.ch-info h3 {
	position: relative;
	letter-spacing: 2px;
	font-size: 20px;
	margin: 76px 30px;
	padding: 65px 0 0 0;
	height: 110px;

	text-shadow:
		0 0 1px #fff,
		0 1px 2px rgba(0, 0, 0, 0.3);
   
    color: #e8e7f5;
    font-family: 'Raleway',sans-serif;
    font-weight: 70;
}

.ch-info p {

	padding: 10px 5px;
	margin: -103px 1px;
	font-size: 12px;
  border-top: 0px solid rgba(255, 255, 255, 0.5);
  color: #e8e7f5;
    font-family: 'Raleway', sans-serif;
}

.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255, 255, 255, 0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 1px;
	font-family: 'Open Sans', Arial, sans-serif;
}

/* .ch-info p a:hover {
	color: #fff222;
	color: rgba(255, 242, 34, 0.8);
} */

/* .ch-item:hover {
	box-shadow:
		inset 0 0 0 110px rgba(200, 95, 66, 0.4),
		inset 0 0 0 0px rgba(255, 255, 255, 0.8),
		0 1px 2px rgba(0, 0, 0, 0.1);
} */

.ch-item .ch-info {
	opacity: 1;

	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

@media only screen and (min-width: 800px) and (max-width:1024px) {
	.text-padding {
		padding-left: 4% !important;
		padding-right: 0% !important;
	}
}
@media only screen and (min-width:768px) and (max-width: 799px){
  .ch-grid{
    width: 91%;
  }
  .text-padding {
		padding-left: 0% !important;
		padding-right: 0% !important;
	}
}
@media only screen and (max-width:500px){
   
    .ch-info p {
      color: #fff;
      padding: 10px 5px;
      margin: -103px 1px;
      font-size: 12px;
      border-top: 0px solid rgba(255, 255, 255, 0.5);
    }
    
    
    
 

.ch-item .ch-info {
	opacity: 1;

	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
    .text-padding {
      padding-left: 8% !important;
      padding-right: 8% !important;
    }
    
}

@media only screen and (min-width:800px) and (max-width:1024px) {
    .ch-grid {
        width: 98% !important;
    }
}

                        
.text-padding {
  padding-left: 8%;
  padding-right: 0%;
}
