.ch-img-aiandml {
    background-image: url(../media/ainandml.png);
}
.ch-img-webdev {
    background-image: url(../media/webdev.jpeg);
}
.ch-img-android{
    background-image: url(../media/android.jpg);
}
