.hud--main {
    position: fixed;
    bottom: 5vh;
}
.hud-timer__inner{
    display: none;
}
.navbar-x{
    padding-top: 24px;
}

@media only screen and (max-width:360px){
    .hud--main{
        display: none;
    }
}