<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
    <link rel="stylesheet" href="./css/common.css">
    <!-- <link rel="stylesheet" href="./css/common.css"> -->
    <link rel="stylesheet" href="./css/terms.css">
    <link rel="stylesheet" href="./css/ca.css">
</head>

<body>
    <div class="preloader">
        <div class="preloader-ring"></div>
    </div>
    <% include partials/header %>
    <!-- Shaders -->
    <script id="shader-fs" type="x-shader/x-fragment">
        #ifdef GL_ES
	    precision highp float;
	    #endif
	  void main(void) {
	   gl_FragColor = vec4(0.2, 0.3, 0.4, 1.0);
	  }
	</script>
    <script id="shader-vs" type="x-shader/x-vertex">
        attribute vec3 vertexPosition;

	  uniform mat4 modelViewMatrix;
	  uniform mat4 perspectiveMatrix;

	  void main(void) {
	    gl_Position = perspectiveMatrix * modelViewMatrix * vec4(  vertexPosition, 1.0);
	  }
	</script>


    <!-- three.js -->

    <div id="webgl-output"></div>

    <div class="bg-mask"></div>

    <h1 style="padding-top:15vh; text-align: center"> Campus Ambassador Program</h1>
    <div class="main-content">
        <div class="scroll-content" id="style-1">
            <div class="inner-content">
                <div class="text-padding" style="transform: scale(1);">
                    <div class="row justify-content-center">
                            <div class="col-sm-12  col-md-12">
                    
                        <div style="text-align:center"> <a href="/ca" data-toggle="modal" data-target="#myModalNorm"><button class='btn-live btn-side'>Register</button></a></div>
                        <!-- <div> <a href="#"><button class='btn-side' id="sch">Download App</button></a></div> -->
                    
                    </div>
                </div>
                    <div class="heading">
                        About Us
                    </div>
                    <div class="text">
                        Campus ambassadorship is a program run by an institution or an organization where enthusiastic
                        applicants are selected to represent brand in the positive light. A campus ambassador is
                        instrumental in igniting this spirit among the young minds of their college. Candidates
                        selected as campus ambassadors get exclusive offers and deals. With this program we seek
                        overall growth and benefit of all those who participate and promotion of Plinth’19. .
                    </div>
                    <div class="heading">
                        What we expect from you?
                    </div>
                    <div class="text">
                        <ul>
                            <li>Bringing maximum registrations for events/ workshops</li> <br>
                            <li>Conducting promotional activities in college as directed.</li> <br>
                            <li>Becoming word of mouth for Plinth’19 in your college.</li> <br>
                            <li>Serving as point of contact for your college and Plinth’19.</li> <br>
                            <li>Publicizing Plinth’19 on social media like Facebook, Instagram etc.</li>
                        </ul>
                    </div>
                    <div class="heading">
                        What is in store for you?
                    </div>
                    <div class="text">
                        <ul>
                            <li>Obtain leadership roles in your campus which can reflect positively in your resume or
                                Curriculum Vitae.</li> <br>
                            <li>Campus Ambassadors would be given stipends based on performance.(Based solely on points
                                earned).</li> <br>
                            <li> Every Campus Ambassador would be provided with an official joining letter certified by
                                Plinth 2019 organization committee.</li> <br>
                            <li>Top Campus Ambassadors will be awarded with Certificate of Organization.</li> <br>
                            <li>Campus Ambassadors can attend all the workshops and events that will be organized in Plinth
                                2019. Get unmediated experience in the upcoming domains of technological advancement.</li>
                            <br>
                            <li>Special Internship opportunities by Qrato.</li> <br>
                            <li>Free goodies and coupons from sponsors.</li> <br>
                            <li>Custom-built Plinth merchandise(Stickers or T-Shirts) top top Campus Ambassadors.</li> <br>
                            <li>Opportunity to show off on LinkedIn, Facebook etc.</li>
                        </ul>
                    </div>

                    <div class="heading">
                        For Any Query Contact :
                    </div>
                    <div class="text">
                        <ul>
                        <li>Honey Agrawal :- +91-8058146090</li>
                        <li><i class="fas fa-envelope"></i>&nbsp&nbspMail Us:- ca@plinth.in <br /></li>
                    </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            CA Registration Form
                        </h4>
                    </div>
    
                    <!-- Modal Body -->
                    <div class="modal-body">
    
                        <form class="form-horizontal gform" method="POST" data-email="ca@plinth.in" action="https://script.google.com/macros/s/AKfycbxjlyLL46VhX_WWu2-MHaJGO04lppWhNkm2msGNOnuaiSEEESk/exec">
                            <div class="form-elements">
    
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label" for="name">Full Name*</label>
                                    <input id="textinput" name="name" type="text" placeholder="" class="form-control input-md"
                                        required>
                                </div>
    
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label" for="email">Email ID*</label>
    
                                    <input id="Email" name="email" type="text" placeholder="abc@xyz.com" class="form-control input-md"
                                        required>
                                </div>
    
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label" for="mobile_number">Phone Number*</label>
                                    <input id="Phone_Num" name="mobile_number" type="number" placeholder="9876543210" class="form-control input-md"
                                        minlength="10" required>
                                </div>
    
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label" for="whatsapp_number">Whatsapp Number*</label>
                                    <input id="Whatsapp Number" name="whatsapp_number" type="number" placeholder="9876543210"
                                        class="form-control input-md" minlength="10">
                                </div>
    
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label" for="college_name">College Name*</label>
                                    <input id="College_Name" name="college_name" type="text" placeholder="LNM Institute of Information Technology"
                                        class="form-control input-md" required>
                                </div>
    
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label" for="college_city">City*</label>
    
                                    <input id="College_City" name="college_city" type="text" placeholder="Jaipur" class="form-control input-md"
                                        required>
                                </div>
    
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label" for="college_state">State of College*</label>
    
                                    <input id="College_State" name="college_state" type="text" placeholder="Rajasthan"
                                        class="form-control input-md" required>
                                </div>
    
                                <!-- Multiple Radios (inline) -->
                                <div class="form-group">
                                    <label class="control-label" for="study_year">Year of Study*</label>
                                    <label class="radio-inline" for="study_year-0">
                                        <input type="radio" name="study_year" id="Study_Year-0" value="1" checked="checked">
                                        1
                                    </label>
                                    <label class="radio-inline" for="study_year-1">
                                        <input type="radio" name="study_year" id="study_year-1" value="2">
                                        2
                                    </label>
                                    <label class="radio-inline" for="study_year-2">
                                        <input type="radio" name="study_year" id="study_year-2" value="3">
                                        3
                                    </label>
                                    <label class="radio-inline" for="study_year-3">
                                        <input type="radio" name="study_year" id="study_year-3" value="4">
                                        4
                                    </label>
                                </div>
    
                                <!-- Textarea -->
                                <div class="form-group">
                                    <label class="control-label" for="past_exp">Relevant Past Experiences</label>
                                    <textarea class="form-control" id="experience" name="past_exp"></textarea>
                                </div>
    
                                <!-- Textarea -->
                                <div class="form-group">
                                    <label class="control-label" for="motive">Why Should we choose you?</label>
    
                                    <textarea class="form-control" id="why_choose" name="motive"></textarea>
    
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="control-label" for="how_know">How you came to know us?</label>
    
                                    <input id="College_State" name="how_know" type="text" placeholder="Social Media | Friend"
                                        class="form-control input-md">
                                </div>
    
                                <!-- Button -->
                                <div class="form-group">
                                    <label class="control-label" for="submit"></label>
    
                                    <button id="submit-form" class="btn btn-primary" type="submit">Submit</button>
    
                                </div>
    
                            </div>
                            <div class="thankyou_message" style="display: none;">
                                <h2>Thanks for joining us! <br> We will get back to you soon!</h2>
                            </div>
    
                        </form>
    
    
                    </div>
    
    
                </div>
            </div>
        </div>


    <% include partials/footer %>

    <script src="js/jquery.min.js"></script>
    <script src="js/scrollmagic.js"></script>
    <script src="js/sphere.js"></script>
    <script src="js/main.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        window.addEventListener('load', function () {

            var el = document.querySelector('.preloader');
            el.style.opacity = 2;

            (function fade() {
                if ((el.style.opacity -= 0.15) < 0) {
                    window.scrollTo(0, 0);
                    el.style.display = "none";
                    controls.redraw();
                    controls.rend();
                    controls.start();
                } else {
                    requestAnimationFrame(fade);
                }
            })();
        });
    </script>
    <script>
        if (screen.width > 1024) {
            function remove() {
                var elem = document.getElementById('rlbuttn');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
     <script>
            var elem = document.getElementById('rlbuttn_menu');
            if(elem !=null){
                if (screen.width > 1024) {
                    function remove() {
                        
                        elem.parentNode.removeChild(elem);
                        return false;
                    }
                    remove();
                }
            }
            </script>
        
    <script>
        if (screen.width < 500) {
            function remove() {
                var elem = document.getElementById('faqbtn_rm');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width > 500) {
            function remove() {
                var elem = document.getElementById('faq_rm');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width < 769) {
            function remove() {
                var elem = document.getElementById('seprate');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width > 769) {
            function remove() {
                var elem = document.getElementById('mobsep');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125190547-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-125190547-1');
    </script>

</body>

</html>