<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Ambassdor Program | Plinth 2019</title>
    <meta property="og:title" content="Plinth 2019, LNMIIT Jaipur | Techno-Management Literary Fest">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://plinth.in">
    <meta property="og:description" content="Plinth 2019, LNMIIT presents Techno-Management Literary Fest. Get ready for an awesome breathtaking journey.">
    <meta name="author" content="Swarnim">
    <meta property="og:image" content="https://plinth.in/media/plinth.png">

    <meta name="theme-color" content="#262626">
    <meta name="description" content="Plinth 2019: Coming Soon. LNMIIT presents Techno-Management Literary Fest. Get ready for an awesome breathtaking journey.">
    <meta name="keywords" content="plinth, plinth 2019, techfest, coming soon, archive, after movie, competitions, workshops,jaipur, fest, India, Rajasthan, best, college, university, biggest, largest, lnmiit, mittal, students, robots, country, campaign, initiative, sponsors, games, artists,international, contacts, plinth lnmiit, plinth_lnmiit, plinthlnmiit, plinth.lnmiit, awesome, Science, Technology, lectures, talks, exhibitions, student outreach program, astronomy, robotics, startup, coding, quiz, quizzinga, fair, tech shows , tech entertainment, tech extravaganza, revolution, social, exhibitions, 2k19, 2019, 2k16, 2k17, 2k18, 2016, 2017, 2016-17, 2017-18, plinth2k19, plinth 2k19">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@PlinthLNMIIT">
    <meta name="twitter:creator" content="@nimbus_1212">

    <meta name="twitter:title" content="Plinth 2019, LNMIIT Jaipur | Techno-Management Literary Fest">
    <meta name="twitter:description" content="Come Join Your Friends on an awesome TechFest!! #Plinth #2k19.">
    <meta name="twitter:image" content="https://plinth.in/media/plinth.png">
    <meta name="twitter:domain" content="plinth.in">

    <link rel="favicon icon" href="favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="./css/ca.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125190547-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
  
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-125190547-1');
    </script>

</head>

<body>

    <header class="showcase">
        <div class="test">
            <div class="content">

                <img src="./media/logo.svg" class="logo" alt="plinth">
                <div class="title">
                    Campus Ambassador Program
                </div>

            </div>
        </div>


    </header>
    <div>
        <a class="button" data-toggle="modal" data-target="#myModalNorm"><span>Register</span></a>
    </div>



    <!-- About -->
    <section class="about bg-light" id="about">
        <div class="container">
            <div class="grid-2">
                <div class="center">
                    <i class="fas fa-laptop-code fa-10x"></i>
                </div>
                <div>
                    <h3>About Us</h3>
                    <p>
                        Campus ambassadorship is a program run by an institution or an organization where enthusiastic
                        applicants are selected to represent brand in the positive light. A campus ambassador is
                        instrumental in igniting this spirit among the young minds of their college. Candidates
                        selected as campus ambassadors get exclusive offers and deals. With this program we seek
                        overall growth and benefit of all those who participate and promotion of Plinth’19. .</p>
                </div>
            </div>
        </div>
    </section>

    <section class="about bg-dark" id="whatweexpect">
        <div class="container">
            <div class="grid-2">
                <div class="center">
                    <i class="fas fa-user-alt fa-10x"></i>
                </div>
                <div>
                    <h3>What we expect from you?</h3>
                    <ul>
                        <li>Bringing maximum registrations for events/ workshops</li> <br>
                        <li>Conducting promotional activities in college as directed.</li> <br>
                        <li>Becoming word of mouth for Plinth’19 in your college.</li> <br>
                        <li>Serving as point of contact for your college and Plinth’19.</li> <br>
                        <li>Publicizing Plinth’19 on social media like Facebook, Instagram etc.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="about bg-light" id="perks">
        <div class="container">
            <div class="grid-2">
                <div class="center">
                    <i class="fas fa-bolt fa-10x"></i>
                </div>
                <div>
                    <h3>What is in store for you?</h3>
                    <ul>
                        <li>Obtain leadership roles in your campus which can reflect positively in your resume or
                            Curriculum Vitae.</li> <br>
                        <li>Campus Ambassadors would be given stipends based on performance.(Based solely on points
                            earned).</li> <br>
                        <li> Every Campus Ambassador would be provided with an official joining letter certified by
                            Plinth 2019 organization committee.</li> <br>
                        <li>Top Campus Ambassadors will be awarded with Certificate of Organization.</li> <br>
                        <li>Campus Ambassadors can attend all the workshops and events that will be organized in Plinth
                            2019. Get unmediated experience in the upcoming domains of technological advancement.</li>
                        <br>
                        <li>Special Internship opportunities by Qrato.</li> <br>
                        <li>Free goodies and coupons from sponsors.</li> <br>
                        <li>Custom-built Plinth merchandise(Stickers or T-Shirts) top top Campus Ambassadors.</li> <br>
                        <li>Opportunity to show off on LinkedIn, Facebook etc.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <footer class="center bg-dark">
        <h5>For Any Query Contact :</h5> <br>
        <h6>Honey Agrawal :- +91-8058146090</h6>
        <h6><i class="fas fa-envelope"></i>&nbsp&nbspMail Us:- ca@plinth.in <br /></h6>


    </footer>

    <!-- Modal -->
    <div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        CA Registration Form
                    </h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">

                    <form class="form-horizontal gform" method="POST" data-email="ca@plinth.in" action="https://script.google.com/macros/s/AKfycbxjlyLL46VhX_WWu2-MHaJGO04lppWhNkm2msGNOnuaiSEEESk/exec">
                        <div class="form-elements">

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="control-label" for="name">Full Name*</label>
                                <input id="textinput" name="name" type="text" placeholder="" class="form-control input-md"
                                    required>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="control-label" for="email">Email ID*</label>

                                <input id="Email" name="email" type="text" placeholder="abc@xyz.com" class="form-control input-md"
                                    required>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="control-label" for="mobile_number">Phone Number*</label>
                                <input id="Phone_Num" name="mobile_number" type="number" placeholder="9876543210" class="form-control input-md"
                                    minlength="10" required>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="control-label" for="whatsapp_number">Whatsapp Number*</label>
                                <input id="Whatsapp Number" name="whatsapp_number" type="number" placeholder="9876543210"
                                    class="form-control input-md" minlength="10">
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="control-label" for="college_name">College Name*</label>
                                <input id="College_Name" name="college_name" type="text" placeholder="LNM Institute of Information Technology"
                                    class="form-control input-md" required>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="control-label" for="college_city">City*</label>

                                <input id="College_City" name="college_city" type="text" placeholder="Jaipur" class="form-control input-md"
                                    required>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="control-label" for="college_state">State of College*</label>

                                <input id="College_State" name="college_state" type="text" placeholder="Rajasthan"
                                    class="form-control input-md" required>
                            </div>

                            <!-- Multiple Radios (inline) -->
                            <div class="form-group">
                                <label class="control-label" for="study_year">Year of Study*</label>
                                <label class="radio-inline" for="study_year-0">
                                    <input type="radio" name="study_year" id="Study_Year-0" value="1" checked="checked">
                                    1
                                </label>
                                <label class="radio-inline" for="study_year-1">
                                    <input type="radio" name="study_year" id="study_year-1" value="2">
                                    2
                                </label>
                                <label class="radio-inline" for="study_year-2">
                                    <input type="radio" name="study_year" id="study_year-2" value="3">
                                    3
                                </label>
                                <label class="radio-inline" for="study_year-3">
                                    <input type="radio" name="study_year" id="study_year-3" value="4">
                                    4
                                </label>
                            </div>

                            <!-- Textarea -->
                            <div class="form-group">
                                <label class="control-label" for="past_exp">Relevant Past Experiences</label>
                                <textarea class="form-control" id="experience" name="past_exp"></textarea>
                            </div>

                            <!-- Textarea -->
                            <div class="form-group">
                                <label class="control-label" for="motive">Why Should we choose you?</label>

                                <textarea class="form-control" id="why_choose" name="motive"></textarea>

                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="control-label" for="how_know">How you came to know us?</label>

                                <input id="College_State" name="how_know" type="text" placeholder="Social Media | Friend"
                                    class="form-control input-md">
                            </div>

                            <!-- Button -->
                            <div class="form-group">
                                <label class="control-label" for="submit"></label>

                                <button id="submit-form" class="btn btn-primary" type="submit">Submit</button>

                            </div>

                        </div>
                        <div class="thankyou_message" style="display: none;">
                            <h2>Thanks for joining us! <br> We will get back to you soon!</h2>
                        </div>

                    </form>


                </div>


            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="js/ca.js"></script>
    <script>
        $(document).ready(function () {
            $("a").on('click', function (event) {
                if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 900, function () {
                        window.location.hash = hash;
                    });
                }
            });
        });
    </script>


</body>

</html>