<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
    
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/competitions.css">
</head>

<body>
    <div class="preloader">
        <div class="preloader-ring"></div>
    </div>
    <% include partials/header %>

    <!-- Shaders -->
    <script id="shader-fs" type="x-shader/x-fragment">
        #ifdef GL_ES
	    precision highp float;
	    #endif
	  void main(void) {
	   gl_FragColor = vec4(0.2, 0.3, 0.4, 1.0);
	  }
	</script>
    <script id="shader-vs" type="x-shader/x-vertex">
        attribute vec3 vertexPosition;

	  uniform mat4 modelViewMatrix;
	  uniform mat4 perspectiveMatrix;

	  void main(void) {
	    gl_Position = perspectiveMatrix * modelViewMatrix * vec4(  vertexPosition, 1.0);
	  }
	</script>


    <!-- three.js -->

    <div id="webgl-output"></div>

    <div class="bg-mask"></div>
    <h1 style="padding-top:15vh; text-align: center; transform: scale(1);">Competitons</h1>
    <div class="main-content">
        <div class="scroll-content" id="style-1">
            <div class="inner-content ch-grid">
                <div class="text-padding" style="transform: scale(1);">

                    <div class="row justify-content-md-center">
                        <div class="col-sm-12 col-lg-2 col-md-3 cir_res">
                            <li>

                                <div class="ch-item ch-img-1 cir_res">
                                    <a href="/competitions/astronomy">
                                        <div class="ch-info">
                                            <h3>Astronomy</h3>

                                        </div>
                                    </a>
                                </div>

                            </li>

                        </div>
                        <div class="col-sm-12 col-lg-2 col-md-3 cir_res">
                            <li>
                                <div class="ch-item ch-img-2">
                                    <a href="/competitions/coding">
                                        <div class="ch-info">
                                            <h3>Coding</h3>

                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                        <div class="col-sm-12 col-lg-2 col-md-3 cir_res">
                            <li>
                                <div class="ch-item ch-img-3">
                                    <a href="/competitions/robotics">
                                        <div class="ch-info">
                                            <h3>Robotics</h3>

                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                        <div class="col-sm-12 col-lg-2 col-md-3 cir_res">
                            <li>
                                <div class="ch-item ch-img-4">
                                    <a href="/competitions/management">
                                        <div class="ch-info">
                                            <h3>Management</h3>

                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                    </div>
                    <div class="row justify-content-md-center">

                        <div class="col-sm-12 col-lg-2 col-md-3 cir_res">
                            <li>
                                <div class="ch-item ch-img-5">
                                    <a href="/competitions/quizzing">
                                        <div class="ch-info">
                                            <h3>Quizzing</h3>

                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                        <div class="col-sm-12 col-md-2 cir_res">
                            <li>
                                <div class="ch-item ch-img-6">
                                    <a href="/competitions/literature">
                                        <div class="ch-info">
                                            <h3>Literature</h3>

                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <% include partials/footer %>

    <script src="js/jquery.min.js"></script>
    <script src="js/scrollmagic.js"></script>
    <script src="js/sphere.js"></script>
    <script src="js/main.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        window.addEventListener('load', function () {

            var el = document.querySelector('.preloader');
            el.style.opacity = 2;

            (function fade() {
                if ((el.style.opacity -= 0.15) < 0) {
                    window.scrollTo(0, 0);
                    el.style.display = "none";
                    controls.redraw();
                    controls.rend();
                    controls.start();
                } else {
                    requestAnimationFrame(fade);
                }
            })();
        });
    </script>
    <script>
        if (screen.width > 1024) {
            function remove() {
                var elem = document.getElementById('rlbuttn');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
     <script>
            var elem = document.getElementById('rlbuttn_menu');
            if(elem !=null){
                if (screen.width > 1024) {
                    function remove() {
                        
                        elem.parentNode.removeChild(elem);
                        return false;
                    }
                    remove();
                }
            }
            </script>
        
    <script>
        if (screen.width < 500) {
            function remove() {
                var elem = document.getElementById('faqbtn_rm');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width > 500) {
            function remove() {
                var elem = document.getElementById('faq_rm');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width < 769) {
            function remove() {
                var elem = document.getElementById('seprate');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width > 769) {
            function remove() {
                var elem = document.getElementById('mobsep');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="js/js.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-125190547-1');
    </script>
</body>

</html>