<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>

    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/faqs.css">

</head>

<body>
    <div class="preloader">
        <div class="preloader-ring"></div>
    </div>
    <% include partials/header %>

    <!-- Shaders -->
    <script id="shader-fs" type="x-shader/x-fragment">
        #ifdef GL_ES
	    precision highp float;
	    #endif
	  void main(void) {
	   gl_FragColor = vec4(0.2, 0.3, 0.4, 1.0);
	  }
	</script>
    <script id="shader-vs" type="x-shader/x-vertex">
        attribute vec3 vertexPosition;

	  uniform mat4 modelViewMatrix;
	  uniform mat4 perspectiveMatrix;

	  void main(void) {
	    gl_Position = perspectiveMatrix * modelViewMatrix * vec4(  vertexPosition, 1.0);
	  }
	</script>


    <!-- three.js -->

    <div id="webgl-output"></div>

    <div class="bg-mask"></div>

    <h1 style="padding-top:15vh; text-align: center;transform: scale(1);">Frequently Asked Questions</h1>

    <div class="main-content">
        <div class="scroll-content" id="style-1">
            <div class="inner-content">
                <div class="text-padding" style="transform: scale(1);">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading1">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1"
                                        aria-expanded="false" aria-controls="collapse1">
                                        What are the registration charges?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                <div class="panel-body">
                                    <p>The registration charges and other necessary details regarding the payment are
                                        available
                                        under the tab "Register" of all specific events at https://plinth.in.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading2">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2"
                                        aria-expanded="false" aria-controls="collapse2">
                                        How can we reach to the event?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                    <p>PLINTH takes place in The LNM Institute of Information Technology (LNMIIT)
                                        campus in
                                        Jaipur (state of Rajasthan).
                                        <br><br>
                                        <strong>By Air</strong>
                                        <br>
                                        The LNM Institute of Information Technology campus is at a distance of
                                        approximately
                                        22km from the airport. LNMIIT has its own transportation facilities to ply to
                                        and fro
                                        from LNMIIT campus to Jaipur city which starts from Ajmeri Gate, Raja Park,
                                        Pink Square
                                        mall, Jaipur city. Ajmeri Gate is approximately 3.3km from Jaipur Railway
                                        station.
                                        Prepaid cabs are available from the airport to the campus.
                                        <br> <br>
                                        <strong>By Rail</strong>
                                        <br>
                                        The LNM Institute of Information Technology campus is at a distance of a
                                        approximately
                                        18km from the Jaipur railway station. LNMIIT has its own transportation
                                        facilities to
                                        ply to and fro from LNMIIT campus to Jaipur city which starts from Ajmeri Gate,
                                        Raja
                                        Park, Pink Square mall, Jaipur city. Ajmeri Gate is approximately 3.3km from
                                        Jaipur
                                        Railway station. Prepaid cabs are available from the Railway station to the
                                        campus.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading3">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3"
                                        aria-expanded="false" aria-controls="collapse3">
                                        Can I register, but not take accommodation?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                <div class="panel-body">
                                    <p>The registration amount remains unchanged in both the cases. It is advisable to
                                        avail
                                        the accommodation facility since there is no other mode of accommodation
                                        available in
                                        the campus during the fest.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading4">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4"
                                        aria-expanded="false" aria-controls="collapse4">
                                        I want to attend fun/informal events only. Will I have to pay the whole
                                        registration
                                        fee?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                                <div class="panel-body">
                                    <p>No, you have to pay only for the events. Only if any fun/informal events have
                                        charges
                                        then you have to pay for that specific event, otherwise it's free!</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading5">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5"
                                        aria-expanded="false" aria-controls="collapse5">
                                        What is the payment procedure for registration of any events?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                                <div class="panel-body">
                                    <p>The payment procedure will be online and offline as well. Those who have been
                                        shortlisted, will be sent an email. You will have to report at the registration
                                        desk
                                        with the payment receipt print out and the mandatory documents. Failing to
                                        bring any of
                                        the documents may lead to cancellation of your participation. The documents
                                        are:
                                        College ID card. Printout of the receipt of payment. For Offline payment: Those
                                        participants who haven't paid the amount online also have a chance to pay
                                        offline for
                                        on spot registrations for the events but that completely depend on availability
                                        of
                                        seats.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading6">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6"
                                        aria-expanded="false" aria-controls="collapse6">
                                        Shall I carry my ID card with me?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                                <div class="panel-body">
                                    <p>It is mandatory for all participants to carry college IDs. This is for your own
                                        convenience. Moreover you will be asked to produce your college id cards at the
                                        time of
                                        registrations.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading7">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7"
                                        aria-expanded="false" aria-controls="collapse7">
                                        Will all the team members be given accommodation at the same place?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                                <div class="panel-body">
                                    <p>We will try but there is no surety for the same.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading8">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8"
                                        aria-expanded="false" aria-controls="collapse8">
                                        What are the food facilities inside the campus?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                                <div class="panel-body">
                                    <p>There are food stalls available in the arena as long as it's open. Apart from
                                        this,
                                        there is the campus mess as well as various eateries and canteens in the campus
                                        where
                                        food is available at subsidized rates.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading9">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9"
                                        aria-expanded="false" aria-controls="collapse9">
                                        What about the hospital facility?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                                <div class="panel-body">
                                    <p>There is an institute Medical Unit located near the SAC. In case you fall ill,
                                        you are
                                        advised to report to us at accommodation desk. We shall make appropriate
                                        arrangements
                                        for you to be treated at the Medical unit. We shall also be carrying a first
                                        aid kit
                                        with us, at the accommodation desk.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading10">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10"
                                        aria-expanded="false" aria-controls="collapse10">
                                        Are there ATMs inside the campus?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
                                <div class="panel-body">
                                    <p>There are State Bank and ICICI Bank ATMs inside the campus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading11">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse11"
                                        aria-expanded="false" aria-controls="collapse11">
                                        Can I enter The LNMIIT campus anytime?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
                                <div class="panel-body">
                                    <p>You can enter LNMIIT Main gate anytime by showing valid photo ID proof during
                                        6am to
                                        10pm, however you need to have accommodation inside the campus to stay in the
                                        campus
                                        after 10pm.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading12">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse12"
                                        aria-expanded="false" aria-controls="collapse12">
                                        We are a group of people not participating in any of competitions or workshops
                                        and just
                                        coming to Plinth for enjoyment. Would we be provided accommodation?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
                                <div class="panel-body">
                                    <p>Accommodation would be confirmed strictly subject to availability of rooms and
                                        you can
                                        try on the spot registration during the festival.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading13">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse13"
                                        aria-expanded="false" aria-controls="collapse13">
                                        What all deliverables do we receive after registering?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
                                <div class="panel-body">
                                    <p>After registration you'll get pass for that particular event. You will also get
                                        participation certificate if you're not in winning position.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading14">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse14"
                                        aria-expanded="false" aria-controls="collapse14">
                                        What are the accomodation charges?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14">
                                <div class="panel-body">
                                    <p>For every registered individual, the accomodation charge is : ₹300 (One Day) and ₹500(Two Days), without meal.<br> The above charge may subject to change. The accomodation charge is to be paid at the registration desk.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <% include partials/footer %>

    <script src="js/jquery.min.js"></script>
    <script src="js/loginscript.js"></script>
    <script src="js/scrollmagic.js"></script>
    <script src="js/sphere.js"></script>
    <script src="js/main.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        window.addEventListener('load', function () {

            var el = document.querySelector('.preloader');
            el.style.opacity = 1;

            (function fade() {
                if ((el.style.opacity -= 0.15) < 0) {
                    window.scrollTo(0, 0);
                    el.style.display = "none";
                    controls.redraw();
                    controls.rend();
                    controls.start();
                } else {
                    requestAnimationFrame(fade);
                }
            })();
        });
    </script>
    <script>
        if (screen.width > 1024) {
            function remove() {
                var elem = document.getElementById('rlbuttn');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        var elem = document.getElementById('rlbuttn_menu');
        if (elem != null) {
            if (screen.width > 1024) {
                function remove() {

                    elem.parentNode.removeChild(elem);
                    return false;
                }
                remove();
            }
        }
    </script>

    <script>
        var elem = document.getElementById('faqbtn_rm');
        if (elem != null) {
            if (screen.width < 500) {
                function remove() {

                    elem.parentNode.removeChild(elem);
                    return false;
                }
                remove();
            }
        }
    </script>
    <script>
        if (screen.width > 500) {
            function remove() {
                var elem = document.getElementById('faq_rm');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width < 769) {
            function remove() {
                var elem = document.getElementById('seprate');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width > 769) {
            function remove() {
                var elem = document.getElementById('mobsep');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="js/js.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-125190547-1');
    </script>
</body>

</html>