<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
    <link rel="stylesheet" href="./css/faqs.css">

</head>

<body>
    <div class="preloader">
        <div class="preloader-ring"></div>
    </div>
    <% include partials/header %>

    <!-- Shaders -->
    <script id="shader-fs" type="x-shader/x-fragment">
        #ifdef GL_ES
	    precision highp float;
	    #endif
	  void main(void) {
	   gl_FragColor = vec4(0.2, 0.3, 0.4, 1.0);
	  }
	</script>
    <script id="shader-vs" type="x-shader/x-vertex">
        attribute vec3 vertexPosition;

	  uniform mat4 modelViewMatrix;
	  uniform mat4 perspectiveMatrix;

	  void main(void) {
	    gl_Position = perspectiveMatrix * modelViewMatrix * vec4(  vertexPosition, 1.0);
	  }
	</script>


    <!-- three.js -->

    <div id="webgl-output"></div>

    <div class="bg-mask"></div>


    <h1 style="padding-top:15vh; text-align: center;transform: scale(1);">Frequently Asked Questions</h1>
    <main id="sections">
    <div class="container" style="transform: scale(1); margin-bottom: 10% !important">
        <div class="accordion-option">
            <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion"></a>
        </div>
        <div class="clearfix"></div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- First -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            What are the registration charges?
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <p>
                            The registration
                            charges and
                            other necessary
                            details regarding
                            the payment
                            are available
                            under the
                            tab "Register"
                            of all specific
                            events at
                            https://plinth.in.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Second -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                            aria-expanded="true" aria-controls="collapseTwo">
                            How can we reach to the event?
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <p> PLINTH takes place
                            in The LNM
                            Institute
                            of Information
                            Technology
                            (LNMIIT)
                            campus in
                            Jaipur (state
                            of Rajasthan).</p>
                        <div class="bolder">By Air
                        </div>
                        <p>
                            The LNM Institute of
                            Information Technology
                            campus is at a distance
                            of approximately 22km
                            from the airport.
                            LNMIIT has its
                            own transportation
                            facilities
                            to ply to
                            and fro from
                            LNMIIT campus
                            to Jaipur
                            city which
                            starts from
                            Ajmeri Gate,
                            Raja Park,
                            Pink Square
                            mall, Jaipur
                            city. Ajmeri
                            Gate is approximately
                            3.3km from
                            Jaipur Railway
                            station.
                            Prepaid cabs
                            are available
                            from the
                            airport to
                            the campus.
                        </p>
                        <div class="bolder">By Rail
                        </div>
                        <p>
                            The LNM Institute of
                            Information Technology
                            campus is at a distance
                            of a approximately 18km
                            from the Jaipur railway
                            station.
                            LNMIIT has
                            its own transportation
                            facilities
                            to ply to
                            and fro from
                            LNMIIT campus
                            to Jaipur
                            city which
                            starts from
                            Ajmeri Gate,
                            Raja Park,
                            Pink Square
                            mall, Jaipur
                            city. Ajmeri
                            Gate is approximately
                            3.3km from
                            Jaipur Railway
                            station.
                            Prepaid cabs
                            are available
                            from the
                            Railway station
                            to the campus.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Third -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                            aria-expanded="true" aria-controls="collapseThree">
                            Can I register, but not take accommodation?
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <p> The registration
                            amount remains
                            unchanged
                            in both the
                            cases. It
                            is advisable
                            to avail
                            the accommodation
                            facility
                            since there
                            is no other
                            mode of accommodation
                            available
                            in the campus
                            during the
                            fest.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Four -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                            aria-expanded="true" aria-controls="collapseFour">
                            I want to attend fun/informal
                            events only. Will
                            I have to pay the
                            whole registration
                            fee?
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        <p> No, you have to pay
                            only for
                            the events.
                            Only if any
                            fun/informal
                            events have
                            charges then
                            you have
                            to pay for
                            that specific
                            event, otherwise
                            it's free!</p>
                    </div>
                </div>
            </div>

            <!-- Five -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
                            aria-expanded="true" aria-controls="collapseFive">
                            What
                            is the payment procedure
                            for registration
                            of any events?
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">
                        <p> The payment procedure
                            will be online
                            and offline
                            as well.
                            Those who
                            have been
                            shortlisted,
                            will be sent
                            an email.
                            You will
                            have to report
                            at the registration
                            desk with
                            the payment
                            receipt print
                            out and the
                            mandatory
                            documents.
                            Failing to
                            bring any
                            of the documents
                            may lead
                            to cancellation
                            of your participation.
                            The documents
                            are: College
                            ID card.
                            Printout
                            of the receipt
                            of payment.
                            For Offline
                            payment:
                            Those participants
                            who haven't
                            paid the
                            amount online
                            also have
                            a chance
                            to pay offline
                            for on spot
                            registrations
                            for the events
                            but that
                            completely
                            depend on
                            availability
                            of seats.</p>
                    </div>
                </div>
            </div>

            <!-- Six -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSix">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix"
                            aria-expanded="true" aria-controls="collapseSix">
                            Shall I carry my ID card
                            with me?
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body">
                        <p> It is mandatory for
                            all participants
                            to carry
                            college IDs.
                            This is for
                            your own
                            convenience.
                            Moreover
                            you will
                            be asked
                            to produce
                            your college
                            id cards
                            at the time
                            of registrations.</p>
                    </div>
                </div>
            </div>

            <!-- Seven -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSeven">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven"
                            aria-expanded="true" aria-controls="collapseSeven">
                            Will all the team members
                            be given accommodation
                            at the same place?
                        </a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSeven">
                    <div class="panel-body">
                        <p> We will try but there
                            is no surety
                            for the same.</p>
                    </div>
                </div>
            </div>

            <!-- Eight -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingEight">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight"
                            aria-expanded="true" aria-controls="collapseEight">
                            What
                            are the food facilities
                            inside the campus?
                        </a>
                    </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingEight">
                    <div class="panel-body">
                        <p> There are food stalls
                            available
                            in the arena
                            as long as
                            it's open.
                            Apart from
                            this, there
                            is the campus
                            mess as well
                            as various
                            eateries
                            and canteens
                            in the campus
                            where food
                            is available
                            at subsidized
                            rates.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Nine -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingNine">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine"
                            aria-expanded="true" aria-controls="collapseNine">
                            What about the hospital
                            facility?
                        </a>
                    </h4>
                </div>
                <div id="collapseNine" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingNine">
                    <div class="panel-body">
                        <p> There is an institute
                            Medical Unit
                            located near
                            the SAC.
                            In case you
                            fall ill,
                            you are advised
                            to report
                            to us at
                            accommodation
                            desk. We
                            shall make
                            appropriate
                            arrangements
                            for you to
                            be treated
                            at the Medical
                            unit. We
                            shall also
                            be carrying
                            a first aid
                            kit with
                            us, at the
                            accommodation
                            desk.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

    <% include partials/footer %>

    <script src="js/jquery.min.js"></script>
    <script src="js/scrollmagic.js"></script>
    <script src="js/sphere.js"></script>
    <script src="js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="js/faq.js"></script>
    <script>
        window.addEventListener('load', function () {

            var el = document.querySelector('.preloader');
            el.style.opacity = 5;

            (function fade() {
                if ((el.style.opacity -= 0.15) < 0) {
                    // window.scrollTo(0, 0);
                    el.style.display = "none";
                    controls.redraw();
                    controls.rend();
                    controls.start();
                } else {
                    requestAnimationFrame(fade);
                }
            })();
        });
    </script>
    <script>
        if (screen.width > 1024) {
            function remove() {
                var elem = document.getElementById('rlbuttn');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width > 1024) {
            function remove() {
                var elem = document.getElementById('rlbuttn_menu');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width < 500) {
            function remove() {
                var elem = document.getElementById('faqbtn_rm');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width > 500) {
            function remove() {
                var elem = document.getElementById('faq_rm');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width < 769) {
            function remove() {
                var elem = document.getElementById('seprate');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width > 769) {
            function remove() {
                var elem = document.getElementById('mobsep');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
</body>

</html>