<!DOCTYPE html>
<html lang="en">

<head>

    <% include partials/head %>

</head>

<body>

    <div class="preloader">
        <div class="preloader-ring"></div>
    </div>
    <% include partials/header %>

    <!-- Shaders -->
    <script id="shader-fs" type="x-shader/x-fragment">
        #ifdef GL_ES
	    precision highp float;
	    #endif
	  void main(void) {
	   gl_FragColor = vec4(0.2, 0.3, 0.4, 1.0);
	  }
	</script>
    <script id="shader-vs" type="x-shader/x-vertex">
        attribute vec3 vertexPosition;

	  uniform mat4 modelViewMatrix;
	  uniform mat4 perspectiveMatrix;

	  void main(void) {
	    gl_Position = perspectiveMatrix * modelViewMatrix * vec4(  vertexPosition, 1.0);
	  }
	</script>


    <!-- three.js -->

    <div id="webgl-output"></div>

    <div class="bg-mask"></div>

    <main id="sections">
        <section class="section section-main" id="main" data-section="1">
            <div class="fluid fluid--center">
                <div class="btn-grp divDelayFoo" id="btn-grp">
                    <div> <a href="/ca"><button class='btn-live btn-side' id="ca">Campus Ambassdor</button></a></div>
                    <div> <a href="#"><button class='btn-side' id="sch">Download App</button></a></div>
                </div>
                <div class="int-canvas-wrap int-canvas-wrap--brain">
                    <canvas class="int-canvas int-canvas--pt" style="margin-left:80%"></canvas>
                </div>
                <div class="main text-center">
                    <div id="npt"><img src="./media/plinth2019text.png" alt="Plinth2019"></div>
                    <h1 class="divDelay" id="txt">Techno-Management Literary Fest</h1>

                </div>
            </div>
            <div class="hud--main hud-bottom" id="des_so">
                <div class="fluid divDelayFoo">
                    <span class="line"></span>
                    <a class="hud__icon" href="https://www.facebook.com/Plinth.LNMIIT/" target="_blank" style="color:aliceblue">
                        <i class="fab fa-facebook-f"></i>

                    </a>
                    <a class="hud__icon" href="https://twitter.com/plinthlnmiit?lang=en" target="_blank" style="color:aliceblue">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="hud__icon" href="https://www.instagram.com/plinth.lnmiit/" target="_blank" style="color:aliceblue">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="hud__icon sp" href="https://www.youtube.com/user/PlinthLNMIITJaipur" target="_blank"
                        style="color:aliceblue;margin-left:1.5%">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <span class="hud__deadline"><span class="line"></span><span class="hud__deadline-date">19-20 JAN
                            2019 </span></span>
                </div>
            </div>
            <div class="hud--main hud-timer">
                <div class="fluid">
                    <div class="hud-timer__inner">
                        <input id="hidden_date_final" type="hidden" value="2019-01-19 00:00:00">
                        <div class="hud-timer__cell hud-timer__cell--days">
                            <span>22</span>day
                        </div>
                        <div class="hud-timer__cell hud-timer__cell--hours">
                            <span>0</span>hour
                        </div>
                        <div class="hud-timer__cell hud-timer__cell--mins">
                            <span>2</span>min
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-about" id="about" data-section="2">
            <div class="int-canvas-wrap int-canvas-wrap--brain">
                <canvas class="int-canvas int-canvas--brain"></canvas>
            </div>
            <div class="fluid fluid--center">
                <div class="placeholder"></div>
                <div class="about">
                    <h3 class="about__header section-header">About Us <br class="br-1"><br class="br-2"> </h3>
                    <div class="about__info section-description">
                        <p class="about__text">
                            Plinth is the annual inter college Techno-Management-Literary Festival of the LNMIIT,
                            Jaipur.

                        </p>
                        <!-- <h5 class="about__subheader">Motto</h5> -->
                        <p class="about__text">
                            A bud when comes out of its cover, strives for the glow which could make it an attractive
                            flower.
                            So, here in Plinth as we celebrate the fifth year of its successful organization,
                            we are proud to say that the bud found its glow in the enthusiasm and the confidence of its
                            participants.
                            Plinth brings immense opportunities for all the enthusiasts to showcase their talents and
                            skills.
                            The coalescence of all the different fields of career takes place at various corners of a
                            single place.
                            It starts with a typical morning that brings everyone out of their warm coziness.
                            Ready and suited to make it grand and successful, after the long days of hard work.
                        </p>
                    </div>
                </div>
            </div>
            <div class="section-padding"></div>
        </section>
        <section class="section section--request" id="request" data-section="3">
            <div class="section-padding"></div>
            <div class="fluid" id="mob">
                <h3 class="request__info-header section-header">Contact Us</h3>
                <div class="request">
                    <div class="request__info">
                        <ul class="request__list">
                            <li class="request__list-item">
                                <h6><i class="fas fa-phone fa-rotate-90"></i>&nbsp&nbspPhone<br /></h6>
                                Anvesh Sharma <br /> <a href="tel:+91-9460521981">+91-9460521981 <br /></a>
                                Suyash Agrawal <br /> <a href="tel:+91-7339875167">+91-7339875167 <br /></a>

                            </li>
                            <li class="request__list-item">
                                <h6><i class="fas fa-envelope"></i>&nbsp&nbspMail Us<br /></h6>
                                <a href="mailto:query@plinth.in">query@plinth.in</a>

                            </li>
                            <li class="request__list-item">
                                <h6><i class="fas fa-location-arrow"></i>&nbsp&nbspLocation<br /></h6>

                                <a href="https://goo.gl/maps/5wNkk4FoFDy">Rupa ki Nangal,Via-Jamdoli,<br> Jaipur,
                                    Rajasthan 302031 </a>
                            </li>
                        </ul>

                        <button class="request__btn noise-btn" style="text-align:center !important" id="faqbtn_rm"><a
                                href="/faqs"><span>FAQ</span></a></button>

                    </div>
                    <form class="request__form gform " action="https://script.google.com/macros/s/AKfycbyNgIv7o86unD2w1ugjBgQd351xubu6Ho5El08iWVmciloy83s6/exec"
                        method="POST" data-email="query@plinth.in">
                        <div class="form-elements">
                            <div class="request__group">
                                <div class="request__group-input">

                                    <input class="request__input" type="text" name="name" placeholder="Name" required>
                                </div>
                            </div>

                            <div class="request__group">
                                <div class="request__group-input">

                                    <input class="request__input" type="number" name="contact" placeholder="Mob No."
                                        minlength="10" required>
                                </div>
                            </div>


                            <div class="request__group">
                                <div class="request__group-input">
                                    <input class="request__input" type="email" name="email" placeholder="E-mail"
                                        required>
                                </div>
                            </div>

                            <div class="request__group">
                                <div class="request__group-input">

                                    <textarea class="request__textarea" name="query" rows="4" placeholder="Query"
                                        required></textarea>
                                </div>
                            </div>
                            <button class="request__form-btn noise-btn" style="text-align:center !important" type="submit"><span>Submit</span></button>
                        </div>
                        <div class="thankyou_message" style="display: none">
                            <h3>Thanks for contacting us! <br> We will get back to you soon!</h3>
                        </div>
                    </form>

                </div>
            </div>
            <div class="fluid" id="des">
                <h3 class="request__info-header section-header" style="color:white">Contact Us</h3>
                <div class="request">

                    <form class="request__form gform " action="https://script.google.com/macros/s/AKfycbyNgIv7o86unD2w1ugjBgQd351xubu6Ho5El08iWVmciloy83s6/exec"
                        method="POST" data-email="query@plinth.in">
                        <div class="form-elements">
                            <div class="request__group">
                                <div class="request__group-input">

                                    <input class="request__input" type="text" name="name" placeholder="Name" required>
                                </div>
                            </div>

                            <div class="request__group">
                                <div class="request__group-input">

                                    <input class="request__input" type="number" name="contact" placeholder="Mob No."
                                        minlength="10" required>
                                </div>
                            </div>
                            <div class="request__group">
                                <div class="request__group-input">
                                    <input class="request__input" type="email" name="email" placeholder="E-mail"
                                        required>
                                </div>
                            </div>

                            <div class="request__group">
                                <div class="request__group-input">

                                    <textarea class="request__textarea" name="query" rows="4" placeholder="Query"
                                        required></textarea>
                                </div>
                            </div>
                            <button class="request__form-btn noise-btn" style="text-align:center !important" type="submit"><span>Submit</span></button>
                        </div>
                        <div class="thankyou_message" style="display: none;">
                            <h3>Thanks for contacting us! <br> We will get back to you soon!</h3>
                        </div>
                    </form>

                    <div class="request__info">
                        <ul class="request__list">
                            <li class="request__list-item">
                                <h6><i class="fas fa-phone fa-rotate-90"></i>&nbsp&nbspPhone<br /></h6>
                                Anvesh Sharma <br /> <a href="tel:+91-9460521981">+91-9460521981 <br /></a>
                                Suyash Agrawal <br /> <a href="tel:+91-7339875167">+91-7339875167 <br /></a>

                            </li>
                            <li class="request__list-item">
                                <h6><i class="fas fa-envelope"></i>&nbsp&nbspMail Us<br /></h6>
                                <a href="mailto:query@plinth.in">query@plinth.in</a>

                            </li>
                            <li class="request__list-item">
                                <h6><i class="fas fa-location-arrow"></i>&nbsp&nbspLocation<br /></h6>

                                <a href="https://goo.gl/maps/5wNkk4FoFDy">Rupa ki Nangal,Via-Jamdoli,<br> Jaipur,
                                    Rajasthan 302031 </a>
                            </li>
                        </ul>

                        <button class="request__btn noise-btn" style="text-align:center !important" id="faqbtn_rm"><a
                                href="/faqs"><span>FAQS</span></a></button>

                    </div>

                </div>
            </div>
        </section>

    </main>
    <nav class="fixed-nav">
        <ul class="fixed-nav__list">
            <li class="fixed-nav__list-item active">
                <a href="#main">
                    <span class="fixed-nav__line"></span>
                    <span class="fixed-nav__number">00</span>
                    <span class="fixed-nav__name">Home</span>
                </a>
            </li>
            <li class="fixed-nav__list-item">
                <a href="#about">
                    <span class="fixed-nav__line"></span>
                    <span class="fixed-nav__number">01</span>
                    <span class="fixed-nav__name">About Us</span>
                </a>
            </li>
            <li class="fixed-nav__list-item">
                <a href="#request">
                    <span class="fixed-nav__line"></span>
                    <span class="fixed-nav__number">02</span>
                    <span class="fixed-nav__name">Contact Us</span>
                </a>
            </li>

        </ul>
    </nav>

    <footer style=" background: -webkit-linear-gradient(left, #090025 0%, #2f0028 100%);
    background: -o-linear-gradient(left, #090025 0%, #2f0028 100%);
    background: linear-gradient(to right, #090025 0%, #2f0028 100%);
     color: aliceblue;
          position: fixed;
     left: 0;
     bottom: -10px;
     height: 50px;
     width: 100%;">
        <div class="hud--main hud-bottom" id="mob_so">
            <div class="fluid divDelayFoo">
                <span class="line"></span>
                <a class="hud__icon" href="https://www.facebook.com/Plinth.LNMIIT/" target="_blank" style="color:aliceblue">
                    <i class="fab fa-facebook-f"></i>

                </a>
                <a class="hud__icon" href="https://twitter.com/plinthlnmiit?lang=en" target="_blank" style="color:aliceblue">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="hud__icon" href="https://www.instagram.com/plinth.lnmiit/" target="_blank" style="color:aliceblue">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="hud__icon sp" href="https://www.youtube.com/user/PlinthLNMIITJaipur" target="_blank" style="color:aliceblue;margin-left:1.5%">
                    <i class="fab fa-youtube"></i>
                </a>
                <span class="hud__deadline"><span class="line"></span><span class="hud__deadline-date">19-20 JAN
                        2019 </span></span>
            </div>
        </div>
        <div class="navbar-x divDelayFoo" class="a" id="desfoo">
            <a class="foo " href="/gallery" class="active">GALLERY</a>
            <a class="foo" href="/sponsors">SPONSORS</a>
            <a class="foo" href="/team"><span class="nowarp">Our</span><span class="nowarp "> Team</span></a>
            <a class="foo" href="/faqs" id="faq_rm">FAQS</a>
            <span id="seprate">
                <!-- <a class="foo" href="#request">FAQs</a> -->
                <a class="foo" href="/terms" class="sp"><span class="nowarp">TERMS</span><span class="nowarp "> &
                        CONDITION</span></a>
                <a class="foo" href="/archive">ARCHIVE</a>
            </span>
            <span id="mobsep">
                <a class="foo" href="/terms" class="sp"><span class="nowarp">TERMS</span><span class="nowarp "> &
                        CONDITION</span></a>
                <a class="foo" href="/archive">ARCHIVE</a>
            </span>
        </div>

    </footer>

    <script src="js/jquery.min.js"></script>
    <script src="js/scrollmagic.js"></script>
    <script src="js/sphere.js"></script>
    <script src="js/main.js"></script>
    <script src="js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script>
        if (screen.width > 767) {
            function remove() {
                var elem = document.getElementById('npt');
                elem.parentNode.removeChild(elem);

                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width > 500) {
            function remove() {
                var elem = document.getElementById('des_so');
                elem.parentNode.removeChild(elem);

                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width < 500) {
            function remove() {
                var elem = document.getElementById('mob_so');
                elem.parentNode.removeChild(elem);

                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width < 769) {
            function remove() {
                var elem = document.getElementById('seprate');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width > 769) {
            function remove() {
                var elem = document.getElementById('mobsep');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width == 731 && screen.height == 411) {
            function remove() {
                var elem = document.getElementById('pt_ani');

                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();

            function remove1() {
                var elem1 = document.getElementById('txt');

                elem1.parentNode.removeChild(elem1);
                return false;
            }
            remove1();

        }
    </script>

    <script>
        if (screen.width == 736 && screen.height == 414) {
            function remove() {
                var elem = document.getElementById('npt');

                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();


        }
    </script>

    <script>
        if (screen.width > 1024) {
            function remove() {
                var elem = document.getElementById('rlbuttn');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width > 1024) {
            function remove() {
                var elem = document.getElementById('rlbuttn_menu');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>

    <script>
        if (screen.width < 500) {
            function remove() {
                var elem = document.getElementById('faqbtn_rm');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width > 500) {
            function remove() {
                var elem = document.getElementById('faq_rm');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width > 500) {
            function remove() {
                var elem = document.getElementById('mob');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>

    <script>
        if (screen.width < 500) {
            function remove() {
                var elem = document.getElementById('des');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width < 769) {
            function remove() {
                var elem = document.getElementById('btn-grp');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>

    <script>
        window.addEventListener('load', function () {
            var el = document.querySelector('.preloader');
            el.style.opacity = 0;
            (function fade() {
                if ((el.style.opacity -= 0.15) < 0) {
                    window.scrollTo(0, 0);
                    el.style.display = "none";
                    controls.redraw();
                    controls.rend();
                    controls.start();
                } else {
                    requestAnimationFrame(fade);
                }
            })();
        });
    </script>
    <!-- <script>
        $(window).on('resize', function () {
            location.reload();
        });
    </script> -->

</body>

</html>