<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
    <link rel="stylesheet" href="./css/common.css">


    <link rel="stylesheet" href="./css/sponsors.css">
</head>

<body>
    <div class="preloader">
        <div class="preloader-ring"></div>
    </div>
    <% include partials/header %>

    <!-- Shaders -->
    <script id="shader-fs" type="x-shader/x-fragment">
        #ifdef GL_ES
	    precision highp float;
	    #endif
	  void main(void) {
	   gl_FragColor = vec4(0.2, 0.3, 0.4, 1.0);
	  }
	</script>
    <script id="shader-vs" type="x-shader/x-vertex">
        attribute vec3 vertexPosition;

	  uniform mat4 modelViewMatrix;
	  uniform mat4 perspectiveMatrix;

	  void main(void) {
	    gl_Position = perspectiveMatrix * modelViewMatrix * vec4(  vertexPosition, 1.0);
	  }
	</script>


    <!-- three.js -->

    <div id="webgl-output"></div>

    <div class="bg-mask"></div>


    <h1 style="transform: scale(1);padding-top:15vh; text-align: center">Previous Years' Sponsors</h1>
    <div class="main-content">
        <div class="scroll-content" id="style-1">
            <div class="inner-content ch-grid">
                <div class="text-padding" style="transform: scale(1);">

                    <div class="row justify-content-md-center">
                        <div class="col-sm-12 col-md-4 cir_res">
                            <li>

                                <div class="ch-item ch-img-1s cir_res">
                                    <a href="https://mva.microsoft.com/">
                                        <div class="ch-info">
                                            <h3>Microsoft</h3>
                                            <p>General Partner</p>

                                        </div>
                                    </a>
                                </div>

                            </li>

                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-sm-12 col-md-4 cir_res">
                            <li>
                                <div class="ch-item ch-img-2s">
                                    <a href="http://www.havells.com/">
                                        <div class="ch-info">
                                            <h3>Havells</h3>
                                            <p>General Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                        <div class="col-sm-12  col-md-4 cir_res">
                            <li>
                                <div class="ch-item ch-img-3s">
                                    <a href="http://www.philips.co.in/">
                                        <div class="ch-info">
                                            <h3>Philips</h3>
                                            <p>General Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                        <div class="col-sm-12  col-md-4 cir_res">
                            <li>
                                <div class="ch-item ch-img-4s">
                                    <a href="https://www.petaindia.com/">
                                        <div class="ch-info">
                                            <h3>PETA</h3>
                                            <p>Animal Right Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                    </div>

                    <div class="row justify-content-md-center">

                        <div class="col-sm-12 col-md-6 cir_res">
                            <li>
                                <div class="ch-item ch-img-5s">
                                    <a href="http://festpav.com/">
                                        <div class="ch-info">
                                            <h3>FestPav</h3>
                                            <p>Online Media Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                        <div class="col-sm-12 col-md-6 cir_res">
                            <li>
                                <div class="ch-item ch-img-6s">
                                    <a href="https://www.facebook.com/Du-Assassins-1760313117334909/">
                                        <div class="ch-info">
                                            <h3>DU Assasins</h3>
                                            <p style="margin: -84px 1px;">Online Media Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-sm-12 col-md-4 cir_res">
                            <li>
                                <div class="ch-item ch-img-7">
                                    <a href="https://www.mycaptain.in/">
                                        <div class="ch-info">
                                            <h3>MyCaptain</h3>
                                            <p>Knowledge Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                        <div class="col-sm-12  col-md-4 cir_res">
                            <li>
                                <div class="ch-item ch-img-8">
                                    <a href="http://theclimber.in/">
                                        <div class="ch-info">
                                            <h3>The Climber</h3>
                                            <p style="color:#4C4D64 ;margin: -85px 1px;">Knowledge Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                        <div class="col-sm-12  col-md-4 cir_res">
                            <li>
                                <div class="ch-item ch-img-9">
                                    <a href="https://www.zoomcar.com/">
                                        <div class="ch-info">
                                            <h3>Zoomcar</h3>
                                            <p>Self-Drive Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                    </div>
                    <div class="row justify-content-md-center">

                        <div class="col-sm-12 col-md-6 cir_res">
                            <li>
                                <div class="ch-item ch-img-10">
                                    <a href="https://pedl.zoomcar.com/ ">
                                        <div class="ch-info">
                                            <h3>Pedl</h3>
                                            <p>Mobility Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                        <div class="col-sm-12 col-md-6 cir_res">
                            <li>
                                <div class="ch-item ch-img-11">
                                    <a href="https://www.olacabs.com/">
                                        <div class="ch-info">
                                            <h3>Ola</h3>
                                            <p>Travel Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-sm-12 col-md-4 cir_res">
                            <li>
                                <div class="ch-item ch-img-12">
                                    <a href="https://hippocabs.com/">
                                        <div class="ch-info">
                                            <h3>HippoCabs</h3>
                                            <p>Driven By</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                        <div class="col-sm-12  col-md-4 cir_res">
                            <li>
                                <div class="ch-item ch-img-13">
                                    <a href="https://www.onnbikes.com">
                                        <div class="ch-info">

                                            <h3>Onn Bikes</h3>
                                            <p>Bike Ride Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                        <div class="col-sm-12  col-md-4 cir_res">
                            <li>
                                <div class="ch-item ch-img-14">
                                    <a href="https://www.toppr.com/">
                                        <div class="ch-info">
                                            <h3>Toppr</h3>
                                            <p>Education Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                    </div>
                    <div class="row justify-content-md-center">

                        <div class="col-sm-12 col-md-6 cir_res">
                            <li>
                                <div class="ch-item ch-img-15">
                                    <a href="https://www.geeksforgeeks.org/">
                                        <div class="ch-info">
                                            <h3>Geeks4Geeks</h3>
                                            <p>Coding Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                        <div class="col-sm-12 col-md-6 cir_res">
                            <li>
                                <div class="ch-item ch-img-16">
                                    <a href="https://www.facebook.com/imagination.lnmiit/">
                                        <div class="ch-info">
                                            <h3>Imagination</h3>
                                            <p>Coverage Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-sm-12 col-md-4 cir_res">
                            <li>
                                <div class="ch-item ch-img-17">
                                    <a href="https://internshala.com/">
                                        <div class="ch-info">
                                            <h3>Internshala</h3>
                                            <p>Internship Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                        <div class="col-sm-12  col-md-4 cir_res">
                            <li>
                                <div class="ch-item ch-img-18">
                                    <a href="/https://www.facebook.com/euCoffia/">
                                        <div class="ch-info">
                                            <h3>EuCoffia</h3>
                                            <p>Coupon Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                        <div class="col-sm-12  col-md-4 cir_res">
                            <li>
                                <div class="ch-item ch-img-19">
                                    <a href="">
                                        <div class="ch-info">
                                            <h3>Youniverse</h3>
                                            <p>ProNight Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                    </div>
                    <div class="row justify-content-md-center">

                        <div class="col-sm-12 col-md-6 cir_res">
                            <li>
                                <div class="ch-item ch-img-20">
                                    <a href="https://www.isleoffortune.com/">
                                        <div class="ch-info">
                                            <h3>Isle of Fortune</h3>
                                            <p style="margin: -76px 1px;">Online Quiz Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                        <div class="col-sm-12 col-md-6 cir_res">
                            <li>
                                <div class="ch-item ch-img-21">
                                    <a href="https://www.zomato.com/jaipur/desi-kitchen-raja-park">
                                        <div class="ch-info">
                                            <h3>Desi Kitchen</h3>
                                            <p style="margin: -82px 1px;">Food Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-sm-12 col-md-4 cir_res">
                            <li>
                                <div class="ch-item ch-img-22">
                                    <a href="https://www.zomato.com/TheVegetarianGrill">
                                        <div class="ch-info">
                                            <h3>TVG</h3>
                                            <p>Food Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                        <div class="col-sm-12  col-md-4 cir_res">
                            <li>
                                <div class="ch-item ch-img-23">
                                    <a href="https://www.zomato.com/jaipur/the-good-times-malviya-nagar">
                                        <div class="ch-info">

                                            <h3>TGT</h3>
                                            <p>Food Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                        <div class="col-sm-12  col-md-4 cir_res">
                            <li>
                                <div class="ch-item ch-img-24">
                                    <a href="http://www.designcut.in/">
                                        <div class="ch-info">
                                            <h3>DesignCut</h3>
                                            <p>Workshop Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                    </div>
                    <div class="row justify-content-md-center">

                        <div class="col-sm-12 col-md-6 cir_res">
                            <li>
                                <div class="ch-item ch-img-25">
                                    <a href="http://www.techienest.in/">
                                        <div class="ch-info">
                                            <h3>TechieNest</h3>
                                            <p>Workshop Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                        <div class="col-sm-12 col-md-6 cir_res">
                            <li>
                                <div class="ch-item ch-img-26">
                                    <a href="http://www.hydrolus.in/">
                                        <div class="ch-info">
                                            <h3>Hydrolus Technology</h3>
                                            <p style="margin: -80px 1px;">Workshop Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-sm-12 col-md-4 cir_res">
                            <li>
                                <div class="ch-item ch-img-27">
                                    <a href="https://www.codesdope.com/">
                                        <div class="ch-info">
                                            <h3 style="margin: 118px 30px;">CodesDope</h3>
                                            <p style="margin: -151px 1px;">Event Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                        <div class="col-sm-12  col-md-4 cir_res">
                            <li>
                                <div class="ch-item ch-img-28">
                                    <a href="https://www.hackerearth.com/">
                                        <div class="ch-info">
                                            <h3>HackerEarth</h3>
                                            <p>Event Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                        <div class="col-sm-12  col-md-4 cir_res">
                            <li>
                                <div class="ch-item ch-img-29">
                                    <a href="https://www.codechef.com/">
                                        <div class="ch-info">
                                            <h3 style="color:#4C4D64 ;margin: 88px 30px;">CodeChef</h3>
                                            <p>Event Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                    </div>
                    <div class="row justify-content-md-center">

                        <div class="col-sm-12 col-md-6 cir_res">
                            <li>
                                <div class="ch-item ch-img-30">
                                    <a href="https://www.denabank.com/">
                                        <div class="ch-info">
                                            <h3>Dena Bank</h3>
                                            <p>Event Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                        <div class="col-sm-12 col-md-6 cir_res">
                            <li>
                                <div class="ch-item ch-img-31">
                                    <a href="http://www.roritoworld.com/">
                                        <div class="ch-info">
                                            <h3>Rorito</h3>
                                            <p>Event Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-sm-12 col-md-4 cir_res">
                            <li>
                                <div class="ch-item ch-img-32">
                                    <a href="https://www.facebook.com/safarnamastory/">
                                        <div class="ch-info">
                                            <h3>Safarnama</h3>
                                            <p>Event Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                        <div class="col-sm-12  col-md-4 cir_res">
                            <li>
                                <div class="ch-item ch-img-33">
                                    <a href="http://www.aviotron.com/">
                                        <div class="ch-info">
                                            <h3>Aviotron</h3>
                                            <p>Event Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                        <div class="col-sm-12  col-md-4 cir_res">
                            <li>
                                <div class="ch-item ch-img-34">
                                    <a href="https://www.pustakmandi.com/">
                                        <div class="ch-info">
                                            <h3>Pustakmandi</h3>
                                            <p>Event Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                    </div>
                    <div class="row justify-content-md-center">

                        <div class="col-sm-12 col-md-6 cir_res">
                            <li>
                                <div class="ch-item ch-img-35">
                                    <a href="http://www.theenchantingverses.org/">
                                        <div class="ch-info">
                                            <h3>Enchanting Verses</h3>
                                            <p>Event Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                        <div class="col-sm-12 col-md-6 cir_res">
                            <li>
                                <div class="ch-item ch-img-36">
                                    <a href="http://sharpvisionindia.com/">
                                        <div class="ch-info">
                                            <h3>Sharp Vision</h3>
                                            <p style="margin: -84px 1px;">Event Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-sm-12 col-md-4 cir_res">
                            <li>
                                <div class="ch-item ch-img-37">
                                    <a href="http://www.halfbakedbeans.in/">
                                        <div class="ch-info">
                                            <h3 style="margin: 97px 30px;">HBB</h3>
                                            <p style="margin: -125px 1px;">Event Partner</p>
                                        </div>
                                    </a>
                                </div>
                            </li>

                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>



    <% include partials/footer %>

    <script src="js/jquery.min.js"></script>
    <script src="js/scrollmagic.js"></script>
    <script src="js/sphere.js"></script>
    <script src="js/main.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        window.addEventListener('load', function () {

            var el = document.querySelector('.preloader');
            el.style.opacity = 2;

            (function fade() {
                if ((el.style.opacity -= 0.15) < 0) {
                    window.scrollTo(0, 0);
                    el.style.display = "none";
                    controls.redraw();
                    controls.rend();
                    controls.start();
                } else {
                    requestAnimationFrame(fade);
                }
            })();
        });
    </script>
    <script>
        if (screen.width > 1024) {
            function remove() {
                var elem = document.getElementById('rlbuttn');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
     <script>
            var elem = document.getElementById('rlbuttn_menu');
            if(elem !=null){
                if (screen.width > 1024) {
                    function remove() {
                        
                        elem.parentNode.removeChild(elem);
                        return false;
                    }
                    remove();
                }
            }
            </script>
        
    <script>
        if (screen.width < 500) {
            function remove() {
                var elem = document.getElementById('faqbtn_rm');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width > 500) {
            function remove() {
                var elem = document.getElementById('faq_rm');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width < 769) {
            function remove() {
                var elem = document.getElementById('seprate');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width > 769) {
            function remove() {
                var elem = document.getElementById('mobsep');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="js/js.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-125190547-1');
    </script>

</body>

</html>