<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/talks.css">
    <link rel="stylesheet" href="./css/team.css">
</head>

<body>
    <div class="preloader">
        <div class="preloader-ring"></div>
    </div>
    <% include partials/header %>

    <!-- Shaders -->
    <script id="shader-fs" type="x-shader/x-fragment">
        #ifdef GL_ES
	    precision highp float;
	    #endif
	  void main(void) {
	   gl_FragColor = vec4(0.2, 0.3, 0.4, 1.0);
	  }
	</script>
    <script id="shader-vs" type="x-shader/x-vertex">
        attribute vec3 vertexPosition;

	  uniform mat4 modelViewMatrix;
	  uniform mat4 perspectiveMatrix;

	  void main(void) {
	    gl_Position = perspectiveMatrix * modelViewMatrix * vec4(  vertexPosition, 1.0);
	  }
	</script>


    <!-- three.js -->

    <div id="webgl-output"></div>

    <div class="bg-mask"></div>


    <h1 class="th1" style="padding-top:15vh; text-align: center;color:#b0aeda;transform: scale(1)">Our Team</h1>
    <div class="main-content">
        <div class="scroll-content" id="style-1">
            <div class="inner-content ch-grid">
                <div class="text-padding" style="transform: scale(1);">



                    <div class="row deck justify-content-center">
                        <div class="col-sm-4">
                            <div class="card-wrapper">
                                <div class="card profile-card">
                                    <h3 class="profile-name">Anvesh Sharma</h3>
                                    <img class="profile-photo rounded-circle" src="../public/media/team/ANVESH SHARMA.jpeg" />
                                    <div class="profile-note">
                                        <p><b>General Secretary, Science and tech council</b><br><i class="fas fa-envelope"></i>&nbsp:&nbsp<a
                                                href="mailto:16ucs043@lnmiit.ac.in">16ucs043@lnmiit.ac.in <br><i class="fas fa-phone"></i>&nbsp:&nbsp<a
                                                    href="tel:+91-9460521981">+91-9460521981 </a></p>
                                    </div>
                                    <!-- /.profile-note -->

                                    <div class="card-footer">
                                        <ul class="list-social list-inline">
                                            <li class="list-inline-item"><a href="https://www.facebook.com/watermanrajendrasingh/"
                                                    target="_blanck"><i class="fab fa-facebook-square" aria-hidden="true"></i><span
                                                        class="sr-only">Website</span></a></li>

                                            <li class="list-inline-item"><a href="https://en.m.wikipedia.org/wiki/Rajendra_Singh"
                                                    target="_blanck"><i class="fab fa-wikipedia-w" aria-hidden="true"></i><span
                                                        class="sr-only">Website</span></a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card-wrapper">
                                <div class="card profile-card">
                                    <h3 class="profile-name">Vrinda Goel</h3>
                                    <img class="profile-photo rounded-circle" src="../public/media/team/Vrinda Goel.jpeg" />
                                    <div class="profile-note">
                                        <p><b>Associate General Secretary, Science and tech council</b><br><i class="fas fa-envelope"></i>&nbsp:&nbsp<a
                                                href="mailto:16ucs216@lnmiit.ac.in">16ucs216@lnmiit.ac.in <br><i class="fas fa-phone"></i>&nbsp:&nbsp<a
                                                    href="tel:+91-8003890410">+91-8003890410 </a></p>
                                    </div>
                                    <!-- /.profile-note -->

                                    <div class="card-footer">
                                        <ul class="list-social list-inline">
                                            <li class="list-inline-item"><a href="https://www.facebook.com/watermanrajendrasingh/"
                                                    target="_blanck"><i class="fab fa-facebook-square" aria-hidden="true"></i><span
                                                        class="sr-only">Website</span></a></li>

                                            <li class="list-inline-item"><a href="https://en.m.wikipedia.org/wiki/Rajendra_Singh"
                                                    target="_blanck"><i class="fab fa-wikipedia-w" aria-hidden="true"></i><span
                                                        class="sr-only">Website</span></a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row deck justify-content-center">
                        <div class="col-sm-4">
                            <div class="card-wrapper">
                                <div class="card profile-card">
                                    <h3 class="profile-name">Suyash Agrawal</h3>
                                    <img class="profile-photo rounded-circle" src="../public/media/team/SUYASH AGRAWAL.jpeg" />
                                    <div class="profile-note">
                                        <p><b>Suyash Agrawal</b><br><i class="fas fa-envelope"></i>&nbsp:&nbsp<a href="mailto:16ucs192@lnmiit.ac.in">16ucs192@lnmiit.ac.in
                                                <br><i class="fas fa-phone"></i>&nbsp:&nbsp<a href="tel:+91-7339875167
                                            ">+91-7339875167
                                                </a></p>
                                    </div>
                                    <!-- /.profile-note -->

                                    <div class="card-footer">
                                        <ul class="list-social list-inline">
                                            <li class="list-inline-item"><a href="https://www.facebook.com/suyash.agrawal.09/"
                                                    target="_blanck"><i class="fab fa-facebook-square" aria-hidden="true"></i><span
                                                        class="sr-only">Website</span></a></li>


                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card-wrapper">
                                <div class="card profile-card">
                                    <h3 class="profile-name">Samruddhi Pathak</h3>
                                    <img class="profile-photo rounded-circle" src="../public/media/team/SAMRUDDHI PATHAK.jpeg" />
                                    <div class="profile-note">
                                        <p><b>Sponsorship Lead</b><br><i class="fas fa-envelope"></i>&nbsp:&nbsp<a href="mailto:16umm018@lnmiit.ac.in">16umm018@lnmiit.ac.in
                                                <br><i class="fas fa-phone"></i>&nbsp:&nbsp<a href="tel:+91-8290902886">+91-8290902886
                                                </a></p>
                                    </div>
                                    <!-- /.profile-note -->

                                    <div class="card-footer">
                                        <ul class="list-social list-inline">
                                            <li class="list-inline-item"><a href="https://m.facebook.com/samruddhi.pathak.75/"
                                                    target="_blanck"><i class="fab fa-facebook-square" aria-hidden="true"></i><span
                                                        class="sr-only">Website</span></a></li>

                                            <li class="list-inline-item"><a href="https://twitter.com/sampathak1997?s=08"
                                                    target="_blanck"><i class="fab fa-twitter" aria-hidden="true"></i><span
                                                        class="sr-only">Website</span></a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card-wrapper">
                                <div class="card profile-card">
                                    <h3 class="profile-name">Puru Upadhyay</h3>
                                    <img class="profile-photo rounded-circle" src="./media/team/puru upa.jpg" />
                                    <div class="profile-note">
                                        <p><b>Finance Secretary</b><br><i class="fas fa-envelope"></i>&nbsp:&nbsp<a
                                                href="mailto:16umm015@lnmiit.ac.in">16umm015@lnmiit.ac.in <br><i class="fas fa-phone"></i>&nbsp:&nbsp<a
                                                    href="tel:+91-9166015620">+91-9166015620</a></p>
                                    </div>
                                    <!-- /.profile-note -->

                                    <div class="card-footer">
                                        <ul class="list-social list-inline">
                                            <li class="list-inline-item"><a href="https://www.facebook.com/puru.upadhyay.7/"
                                                    target="_blanck"><i class="fab fa-facebook-square" aria-hidden="true"></i><span
                                                        class="sr-only">Website</span></a></li>


                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row deck justify-content-center">
                        <div class="col-sm-4">
                            <div class="card-wrapper">
                                <div class="card profile-card">
                                    <h3 class="profile-name">Swarnim</h3>
                                    <img class="profile-photo rounded-circle" src="../public/media/team/swarnim.jpg" />
                                    <div class="profile-note">
                                        <p><b>Website Lead</b><br><i class="fas fa-envelope"></i>&nbsp:&nbsp<a href="mailto:16uec111@lnmiit.ac.in">16uec111@lnmiit.ac.in
                                                <br><i class="fas fa-phone"></i>&nbsp:&nbsp<a href="tel:+91-9431027030">+91-9431027030
                                                </a></p>
                                    </div>
                                    <!-- /.profile-note -->

                                    <div class="card-footer">
                                        <ul class="list-social list-inline">
                                            <li class="list-inline-item"><a href=https://www.facebook.com/swarnim1212?ref=br_rs"
                                                    target="_blanck"><i class="fab fa-facebook-square" aria-hidden="true"></i><span
                                                        class="sr-only">Website</span></a></li>

                                            <li class="list-inline-item"><a href="https://l.facebook.com/l.php?u=https%3A%2F%2Ftwitter.com%2Fhttps%253A%252F%252Ftwitter.com%252Fnimbus_1212%3Ffbclid%3DIwAR140EQDIAz1WUplEAIJUSGbZ_DsQ1ofGbvlovy6nWJCEbX5c39YJbCxx60&h=AT3w6IMXgCMFJkMthmQsXGYKPVHFS3UrD2JqTaTay9UVJ05GR788J-QvnQfg6TwFwFDXfsooN95ZHMr_YIaix65AvHYcpbYlM-3mHrnnivyEURyPXXtke0uRpTSjgyOQSDSjvpPf_HmkI5VeRTwFkUPHcW__GtKIOfRH6FLFK3CFOMAsdk3PoqMBzTfh4Q"
                                                    target="_blanck"><i class="fab fa-twitter" aria-hidden="true"></i><span
                                                        class="sr-only">Website</span></a></li>
                                            <li class="list-inline-item"><a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fgithub.com%2Fhttps%253A%252F%252Fgithub.com%252Fnimbus1212%3Ffbclid%3DIwAR3WHBHf5MbcpY0ewNB0iTQmtOasqxmOcPcr8cFy3-bMQW0XNEygaXUuhvM&h=AT3pbuaHueo6Sf68wZaEgmDZ6-BcVLJJZlErFi0EOAj5qDk_wuevQQBvKtgOCwG1Eb878yN8P5EhmLHqmrvHCjrBdQ_Vrf54SV-DCkg6Gqqy1yGNzj4pDtzOt-v-74WCQmFoeFd0DhyHf1xCxaLaNUL57NhQB8bN3OKMsCAP3pHjpk5RitmLEEuhGEe0IQ"
                                                    target="_blanck"><i class="fab fa-github" aria-hidden="true"></i><span
                                                        class="sr-only">Website</span></a></li>
                                            <li class="list-inline-item"><a href="https://l.facebook.com/l.php?u=https%3A%2F%2Flinkedin.com%2Fin%2Fhttps%253A%252F%252Fwww.linkedin.com%252Fin%252Fnimbus1212%252F%3Ffbclid%3DIwAR0mG7jB4pf7gv9SQTgGuZE0lx1smMbWxCeGTYixg3EWbLgmLc8msWWe3N4&h=AT3HUDRK7clk9g8ncMS0K3pVVA2Fd_1pX8a12J8XMdAzZKHurQq_yS901ChaW82tyIu7pZH1tXOx68KJyn--4DDXO6eMcJYLGKSNfjYwLd8Aj3gJRZYGeHF5VDrsChSdwxgwxGXhi7_vGygb0nfbEHdLgcwm-ys8z2sZs_BP7v3XT-Vab8d4hR6qWs8IXg"
                                                    target="_blanck"><i class="fab fa-linkedin" aria-hidden="true"></i><span
                                                        class="sr-only">Website</span></a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card-wrapper">
                                <div class="card profile-card">
                                    <h3 class="profile-name">Ankit Sharma</h3>
                                    <img class="profile-photo rounded-circle" src="../public/media/team/ankit sharma.jpg" />
                                    <div class="profile-note">
                                        <p><b>PR and Marketing head</b><br><i class="fas fa-envelope"></i>&nbsp:&nbsp<a
                                                href="mailto:16ume009@lnmiit.ac.in">16ume009@lnmiit.ac.in <br><i class="fas fa-phone"></i>&nbsp:&nbsp<a
                                                    href="tel:+91-8890006005">+91-8890006005 </a></p>
                                    </div>
                                    <!-- /.profile-note -->

                                    <div class="card-footer">
                                        <ul class="list-social list-inline">
                                            <li class="list-inline-item"><a href="https://www.facebook.com/ankit.sharma.319452"
                                                    target="_blanck"><i class="fab fa-facebook-square" aria-hidden="true"></i><span
                                                        class="sr-only">Website</span></a></li>

                                            <li class="list-inline-item"><a href="https://www.instagram.com/ankitsharma0005/?hl=en"
                                                    target="_blanck"><i class="fab fa-instagram" aria-hidden="true"></i><span
                                                        class="sr-only">Website</span></a></li>


                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card-wrapper">
                                <div class="card profile-card">
                                    <h3 class="profile-name">Aakash Mahadevan</h3>
                                    <img class="profile-photo rounded-circle" src="../public/media/team/Aakash Mahadevan.jpeg" />
                                    <div class="profile-note">
                                        <p><b>Head of Operations</b><br><i class="fas fa-envelope"></i>&nbsp:&nbsp<a
                                                href="mailto:16ucc001@lnmiit.ac.in">16ucc001@lnmiit.ac.in <br><i class="fas fa-phone"></i>&nbsp:&nbsp<a
                                                    href="tel:+91-9660845930">+91-9660845930 </a></p>
                                    </div>
                                    <!-- /.profile-note -->

                                    <div class="card-footer">
                                        <ul class="list-social list-inline">
                                            <li class="list-inline-item"><a href=https://m.facebook.com/imaakash98?ref=bookmarks"
                                                    target="_blanck"><i class="fab fa-facebook-square" aria-hidden="true"></i><span
                                                        class="sr-only">Website</span></a></li>

                                            <li class="list-inline-item"><a href="https://www.linkedin.com/mwlite/me"
                                                    target="_blanck"><i class="fab fa-linkedin" aria-hidden="true"></i><span
                                                        class="sr-only">Website</span></a></li>


                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row deck justify-content-center">
                        <div class="col-sm-4">
                            <div class="card-wrapper">
                                <div class="card profile-card">
                                    <h3 class="profile-name">Aditya Bhattacharjee</h3>
                                    <img class="profile-photo rounded-circle" src="../public/media/team/ADITYA BHATTACHARJEE.jpeg" />
                                    <div class="profile-note">
                                        <p><b>Talk Series Lead</b><br><i class="fas fa-envelope"></i>&nbsp:&nbsp<a href="mailto:16ucs016@lnmiit.ac.in">16ucs016@lnmiit.ac.in
                                                <br><i class="fas fa-phone"></i>&nbsp:&nbsp<a href="tel:+91-9571069270">+91-9571069270
                                                </a></p>
                                    </div>
                                    <!-- /.profile-note -->

                                    <div class="card-footer">
                                        <ul class="list-social list-inline">
                                            <li class="list-inline-item"><a href="https://www.facebook.com/aditya.bhattacharjee.14"
                                                    target="_blanck"><i class="fab fa-facebook-square" aria-hidden="true"></i><span
                                                        class="sr-only">Website</span></a></li>



                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card-wrapper">
                                <div class="card profile-card">
                                    <h3 class="profile-name">Rhitayu Chattopadhyay</h3>
                                    <img class="profile-photo rounded-circle" src="../public/media/team/Rhitayu Chattopadhyay.jpeg" />
                                    <div class="profile-note">
                                        <p><b>Content Head</b><br><i class="fas fa-envelope"></i>&nbsp:&nbsp<a href="mailto:17ucs125@lnmiit.ac.in">17ucs125@lnmiit.ac.in
                                                <br><i class="fas fa-phone"></i>&nbsp:&nbsp<a href="tel:+91-8529832104">+91-8529832104
                                                </a></p>
                                    </div>
                                    <!-- /.profile-note -->

                                    <div class="card-footer">
                                        <ul class="list-social list-inline">
                                            <li class="list-inline-item"><a href="https://facebook.com/rhitayu.chattopadhyay/"
                                                    target="_blanck"><i class="fab fa-facebook-square" aria-hidden="true"></i><span
                                                        class="sr-only">Website</span></a></li>

                                            <li class="list-inline-item"><a href="https://twitter.com/rhitayu/" target="_blanck"><i
                                                        class="fab fa-twitter" aria-hidden="true"></i><span class="sr-only">Website</span></a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card-wrapper">
                                <div class="card profile-card">
                                    <h3 class="profile-name">Yash Parashar</h3>
                                    <img class="profile-photo rounded-circle" src="../public/media/team/Yash Parashar.jpeg" />
                                    <div class="profile-note">
                                        <p><b>Design Lead</b><br><i class="fas fa-envelope"></i>&nbsp:&nbsp<a href="mailto:17uec138@lnmiit.ac.in">17uec138@lnmiit.ac.in
                                                <br><i class="fas fa-phone"></i>&nbsp:&nbsp<a href="tel:+91-9806145625">+91-9806145625
                                                </a></p>
                                    </div>
                                    <!-- /.profile-note -->

                                    <div class="card-footer">
                                        <ul class="list-social list-inline">
                                            <li class="list-inline-item"><a href="https://m.facebook.com/lookforyash
                                                "
                                                    target="_blanck"><i class="fab fa-facebook-square" aria-hidden="true"></i><span
                                                        class="sr-only">Website</span></a></li>

                                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/yash-parashar-3b7261151"
                                                    target="_blanck"><i class="fab fa-linkedin" aria-hidden="true"></i><span
                                                        class="sr-only">Website</span></a></li>
                                            <li class="list-inline-item"><a href="https://www.instagram.com/muskuratamusafir/"
                                                    target="_blanck"><i class="fab fa-instagram" aria-hidden="true"></i><span
                                                        class="sr-only">Website</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row deck justify-content-center">
                        <div class="col-sm-4">
                            <div class="card-wrapper">
                                <div class="card profile-card">
                                    <h3 class="profile-name">Parth Patel</h3>
                                    <img class="profile-photo rounded-circle" src="../public/media/team/parthpatel.JPG" />
                                    <div class="profile-note">
                                        <p><b>Website Design</b><br><i class="fas fa-envelope"></i>&nbsp:&nbsp<a href="mailto:17ucs107@lnmiit.ac.in">17ucs107@lnmiit.ac.in
                                                <br><i class="fas fa-phone"></i>&nbsp:&nbsp<a href="tel:+91-9898353942">+91-9898353942
                                                </a></p>
                                    </div>
                                    <!-- /.profile-note -->

                                    <div class="card-footer">
                                        <ul class="list-social list-inline">
                                            <li class="list-inline-item"><a href="https://www.facebook.com/realparthpatel"
                                                    target="_blanck"><i class="fab fa-facebook-square" aria-hidden="true"></i><span
                                                        class="sr-only">Website</span></a></li>
                                            <li class="list-inline-item"><a href="https://www.github.com/parth910"
                                                    target="_blanck"><i class="fab fa-github" aria-hidden="true"></i><span
                                                        class="sr-only">Website</span></a></li>
                                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/parth-patel-5b10a214b/"
                                                    target="_blanck"><i class="fab fa-linkedin" aria-hidden="true"></i><span
                                                        class="sr-only">Website</span></a></li>



                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card-wrapper">
                                <div class="card profile-card">
                                    <h3 class="profile-name">Adarsh Punj</h3>
                                    <img class="profile-photo rounded-circle" src="../public/media/team/adarsh.jpeg" />
                                    <div class="profile-note">
                                        <p><b>App Devlopment</b><br><i class="fas fa-envelope"></i>&nbsp:&nbsp<a href="mailto:17uec015@lnmiit.ac.in">17uec015@lnmiit.ac.in
                                                <br><i class="fas fa-phone"></i>&nbsp:&nbsp<a href="tel:+91-9571969490">+91-9571969490
                                                </a></p>
                                    </div>
                                    <!-- /.profile-note -->

                                    <div class="card-footer">
                                        <ul class="list-social list-inline">
                                            <li class="list-inline-item"><a href="https://www.facebook.com/adarsh.lnm"
                                                    target="_blanck"><i class="fab fa-facebook-square" aria-hidden="true"></i><span
                                                        class="sr-only">Website</span></a></li>
                                            <li class="list-inline-item"><a href="https://www.github.com/adarshpunj"
                                                    target="_blanck"><i class="fab fa-github" aria-hidden="true"></i><span
                                                        class="sr-only">Website</span></a></li>
                                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/adarshpunj/"
                                                    target="_blanck"><i class="fab fa-linkedin" aria-hidden="true"></i><span
                                                        class="sr-only">Website</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card-wrapper">
                                <div class="card profile-card">
                                    <h3 class="profile-name">Apoorv Taneja
                                    </h3>
                                    <img class="profile-photo rounded-circle" src="../public/media/team/apoorvtaneja.jpg" />
                                    <div class="profile-note">
                                        <p><b>Website Design</b><br><i class="fas fa-envelope"></i>&nbsp:&nbsp<a href="mailto:17uec138@lnmiit.ac.in">17uec138@lnmiit.ac.in
                                                <br><i class="fas fa-phone"></i>&nbsp:&nbsp<a href="tel:+91-9806145625">+91-9806145625
                                                </a></p>
                                    </div>
                                    <!-- /.profile-note -->

                                    <div class="card-footer">
                                        <ul class="list-social list-inline">
                                            <li class="list-inline-item"><a href="https://www.facebook.com/apoorv.taneja.5
                                                "
                                                    target="_blanck"><i class="fab fa-facebook-square" aria-hidden="true"></i><span
                                                        class="sr-only">Website</span></a></li>

                                            <li class="list-inline-item"><a href="https://www.github.com/plxity"
                                                    target="_blanck"><i class="fab fa-github" aria-hidden="true"></i><span
                                                        class="sr-only">Website</span></a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>








                </div>
            </div>
        </div>
    </div>




    <% include partials/footer %>

    <script src="js/jquery.min.js"></script>
    <script src="js/loginscript.js"></script>
    <script src="js/scrollmagic.js"></script>
    <script src="js/sphere.js"></script>
    <script src="js/main.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        window.addEventListener('load', function () {

            var el = document.querySelector('.preloader');
            el.style.opacity = 1;

            (function fade() {
                if ((el.style.opacity -= 0.15) < 0) {
                    window.scrollTo(0, 0);
                    el.style.display = "none";
                    controls.redraw();
                    controls.rend();
                    controls.start();
                } else {
                    requestAnimationFrame(fade);
                }
            })();
        });
    </script>
    <script>
        if (screen.width > 1024) {
            function remove() {
                var elem = document.getElementById('rlbuttn');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        var elem = document.getElementById('rlbuttn_menu');
        if (elem != null) {
            if (screen.width > 1024) {
                function remove() {

                    elem.parentNode.removeChild(elem);
                    return false;
                }
                remove();
            }
        }
    </script>

    <script>
        var elem = document.getElementById('faqbtn_rm');
        if (elem != null) {
            if (screen.width < 500) {
                function remove() {

                    elem.parentNode.removeChild(elem);
                    return false;
                }
                remove();
            }
        }
    </script>
    <script>
        if (screen.width > 500) {
            function remove() {
                var elem = document.getElementById('faq_rm');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width < 769) {
            function remove() {
                var elem = document.getElementById('seprate');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width > 769) {
            function remove() {
                var elem = document.getElementById('mobsep');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="js/js.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-125190547-1');
    </script>

</body>

</html>