<footer style=" background: -webkit-linear-gradient(left, #090025 0%, #2f0028 100%);
background: -o-linear-gradient(left, #090025 0%, #2f0028 100%);
background: linear-gradient(to right, #090025 0%, #2f0028 100%);
    color: aliceblue;
     text-align:center;
     padding:20px; 
       position: fixed;
     left: 0;
     bottom: 0;
     height: 60px;
     width: 100%;">
    <div class="navbar-x">
        <a class="foo" href="/gallery" class="active">GALLERY</a>
        <a class="foo" href="/sponsors">SPONSORS</a>
        <a class="foo" href="/faq">FAQ</a>
        <a class="foo" href="/team"><span class="nowarp">Our</span><span class="nowarp "> Team</span></a>
        <a class="foo" href="/terms" class="sp"><span class="nowarp">TERM</span><span class="nowarp "> AND CONDITION</span></a>
        <a class="foo" href="/archive">ARCHIVE</a>

    </div>

</footer>