<footer style="background-color: transparent;
    color: aliceblue;
    text-align:center;
    position: fixed;
    left: 0;
    bottom: -10px;
    height: 50px;
    width: 100%;">
        <div class="navbar-x divDelayFoo" class="a" id="desfoo">
            <a class="foo" href="/gallery" class="active">GALLERY</a>
            <a class="foo" href="/sponsors">SPONSORS</a>
            <a class="foo" href="/team"><span class="nowarp">Our</span><span class="nowarp "> Team</span></a>
            <a class="foo" href="/faq" id="faq_rm">FAQ</a>
            <span id="seprate">
                <a class="foo" href="/terms" class="sp"><span class="nowarp">TERMS</span><span class="nowarp "> &
                        CONDITION</span></a>
                <a class="foo" href="/archive">ARCHIVE</a>
            </span>
            <span id="mobsep">
                <a class="foo" href="/terms" class="sp"><span class="nowarp">TERMS</span><span class="nowarp "> &
                        CONDITION</span></a>
                <a class="foo" href="/archive">ARCHIVE</a>
            </span>
        </div>

    </footer>
