<footer style="background-color: transparent;
    color: aliceblue;
     text-align:center;
     padding:20px; 
       position: absolute;
     left: 0;
     bottom: 0;
     height: 60px;
     width: 100%;">
    <div class="navbar-x">
        <a class="foo" href="#" class="active">GALLERY</a>
        <a class="foo" href="#">SPONSORS</a>
        <!-- <a class="foo" href="#">FAQ</a> -->
        <a class="foo" href="#"><span class="nowarp">Our</span><span class="nowarp "> Team</span></a>
        <a class="foo" href="#" class="sp"><span class="nowarp">TERM</span><span class="nowarp "> AND CONDITION</span></a>
        <a class="foo" href="/archive">ARCHIVE</a>

    </div>

</footer>