<!-- Navbar -->
<div class="navbar" id="nav-delay">
        <img class="logo" src="./media/logo.svg" alt="Plinth" />

        <div class="navbar-buttons">
            <button class="button" type="button" name="button">SIGN IN</button>
            <span><img class="open-menu" src="./media/menu.svg" alt="" /></span>
        </div>
    </div>

    <!-- Overlay Navigation Menu -->
    <div class="overlay">
        <nav class="overlay-menu">
            <ul>
                <li><a href="/cryptex">Home</a></li>
                <li><a href="/">Plinth</a></li>
                <li><a href="/cryptex/leaderboard">Leadboard</a></li>
                <li><a href="https://www.facebook.com/lnmiitquizzinga/" target="_blank">Hints & Clues</a></li>
                <li><img class="close-menu" src="./media/close.svg" alt="" /></li>
            </ul>
        </nav>
    </div>