<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> Home | Plinth 2019, LNMIIT Jaipur | Techno-Management Literary Fest</title>

<!-- Meta for SEO -->
<meta property="og:title" content="Plinth 2019, LNMIIT Jaipur | Techno-Management Literary Fest">
<meta property="og:type" content="website">
<meta property="og:url" content="https://plinth.in">
<meta property="og:image" content="https://plinth.in/media/plinth.jpg">
<meta property="og:description" content="Plinth: 19th to 21st January. LNMIIT presents Techno-Management Literary Fest. Get ready for an awesome breathtaking journey.">

<meta name="author" content="Swarnim">
<meta name="theme-color" content="#090025">
<meta name="description" content="Plinth: 19th to 21st January. LNMIIT presents Techno-Management Literary Fest. Get ready for an awesome breathtaking journey.">
<meta name="keywords" content="plinth, plinth 2019, techfest, competitions, workshops, pro-night, jaipur, fest, India, Rajasthan, best, college, university, biggest, largest, lnmiit, mittal, students, robots, country, campaign, initiative, sponsors, games, artists,international, contacts, plinth lnmiit, plinth_lnmiit, plinthlnmiit, plinth.lnmiit, awesome, Science, Technology, lectures, talks, exhibitions, student outreach program, astronomy, robotics, startup, coding, iupc, codeswap, robowar, roborace, astro hunt, astro quiz, quiz, quizzinga, robosoccer, drone, maaze solver, transporter, rc place, sif, startup intern fair, intern fair, fair, tech shows , tech entertainment, tech extravaganza, revolution, social, exhibitions, 2k16, 2k17, 2k18, 2k19, 2016, 2017, 2016-17, 2017-18, 2018-19 plinth2k19, CAP, ca, cA, CAMPUS, campus ambassador, 2019, leader, mun, plinth 2k19">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@PlinthLNMIIT">
<meta name="twitter:creator" content="@nimbus_1212">

<meta name="twitter:title" content="Plinth 2019, LNMIIT Jaipur | Techno-Management Literary Fest">
<meta name="twitter:description" content="Come Join Your Friends on an awesome TechFest!! #Plinth #2k19.">
<meta name="twitter:image" content="https://plinth.in/media/plinth.png">
<meta name="twitter:domain" content="plinth.in">

<!-- Favicon -->
<link rel="favicon icon" href="/public/media/fav/favicon.ico" />
<link href=https://plinth.in/media/fav/apple-icon-60x60.png rel=apple-touch-icon sizes=60x60>
<link href=https://plinth.in/media/fav/apple-icon-120x120.png rel=apple-touch-icon sizes=120x120>
<link href=https://plinth.in/media/fav/apple-icon-76x76.png rel=apple-touch-icon sizes=76x76>
<link href=https://plinth.in/media/fav/apple-icon-152x152.png rel=apple-touch-icon sizes=152x152>
<link href=https://plinth.in/media/fav/android-icon-192x192.png rel="icon" type="image/png" sizes="192x192">
<meta name="msapplication-TileImage" content="https://plinth.in/media/ms-icon-144x144.png">

<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous">
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/responsive.css">

<!-- Fonts -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
  crossorigin="anonymous">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125190547-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'UA-125190547-1');
</script>